<div class="row" style="padding: 10px; width: 100%;">
    <div class="col-sm-9" style="padding-right: 0;">
        <div class="card mb-4 box-shadow">
            <div class="card-body" style="padding: 2px;">
                <div>
                    <p-tabView>
                        <p-tabPanel [selected]="true">
                            <ng-template pTemplate="header">
                                <div>Recent Questions</div>
                            </ng-template>
                            <ng-container *ngTemplateOutlet="recentQuestionTemplate">
        
                            </ng-container>
                        </p-tabPanel>
                        <p-tabPanel>
                            <ng-template pTemplate="header">
                                My Questions
                            </ng-template>
                            <ng-container *ngTemplateOutlet="myQuestionsTemplate">
        
                            </ng-container>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3" style="padding-right: 0;">
        <div class="card mb-4 box-shadow">
            <div class="card-body" style="text-align: center;">
                <div>
                    <h3 class="card-title" style="text-align: center; display: inline; ">
                        <button class="btn btn-primary" (click)="addDiscussionQuestion()">Ask A Question</button>
                    </h3>
                </div>
                
            </div>  
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-body" style="padding-left: 0px; padding-right: 0px;">
                <!-- <div class="row">
                    <div class=" card col-sm-6" style="text-align: center;width: 115px; height: 115px;">
                        <h3 class="card-title" style="display: inline; padding-top: 1.3em; font-weight: 700; color: blue; ">
                            Questions
                        </h3>
                        <h5 style="font-weight:900; font-size: large;">25</h5>
                    </div>
                    <div class=" card col-sm-6" style="text-align: center; width: 115px; height: 115px;">
                        <h3 class="card-title" style="display: inline; padding-top: 1.3em; font-weight: 700; color: yellowgreen;">
                            Answers
                        </h3>
                        <h5 style="font-weight:900; font-size: large;">90</h5>
                    </div>
                </div> -->
            </div>
            
        </div>
    </div>
</div>

<ng-template #recentQuestionTemplate>

    <ng-container *ngFor="let discussionQuestion of allDiscussionQuestions; let i = index">
        <div class="card" style="margin-bottom: 2em;">
            <div class="row" style="margin-top: 0.6em; margin-left: 0.3em;">
                <div class="row" style="float: left;">
                    <div class="row">
                        <div class="col-sm-1" style="width: fit-content;">
                            <img class="rounded-circle" src="{{discussionQuestion.questionAskedByImage}}" style=" height: 3em; width: 3em">
                        </div>

                        <div class="col-sm-11" style="font-weight: 600; color: #5d5ded; width: fit-content;">
                            {{discussionQuestion.questionAskedByUsername}}
                        </div>
                    </div>
                </div>
                <div class="row question-with-date-class" style="display: flex; justify-content: center;">
                    <!-- <div class="row"> -->
                        <!-- <div class="col-sm-2" style="font-weight: 600; color: #5d5ded;">
                            {{discussionQuestion.questionAskedByUsername}}
                        </div> -->
                        <!-- <div class="col-sm-10">
                            asked on: {{discussionQuestion.questionAskedDate | date:'medium'}}
                        </div> -->
                    <!-- </div> -->
                    <div class="row question-in-mobile-view" style="margin-top: 0.3em; font-weight: 700; padding-left: 4em; word-break: break-word;">
                        <div style="font-weight: 400;">
                            {{discussionQuestion.question}}
                        </div>
                        <div class=" card-title" style="display: flex;">
                            <ng-container *ngFor="let questionTag of discussionQuestion.questionTags">
                                <div style="width: fit-content; height: auto; margin-bottom: 0.3em; 
                                            margin-right: 0.6em; background-color: #e1ecf4; border-radius: 3px; padding: 2px;">
                                    {{questionTag}}
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <!-- <div class="card-title" style="margin-top: 0.5em;">
                        Description
                    </div> -->
                    
                    <!-- <div style="margin-top: 12px;">
                        <mat-icon>thumb_up_alt</mat-icon>
                        <p>{{discussionQuestion.questionUpVotesCount}}</p>
                        <mat-icon>thumb_down_alt</mat-icon>
                    </div> -->
                    <div style="display: flex;justify-content: right;">

                        <!-- <div class="col-sm-10">
                            asked on: {{discussionQuestion.questionAskedDate | date:'medium'}}
                        </div> -->

                        <div style="display: inline-flex; margin-right: 8px;">
                            <div style=" display: inline-flex; margin-right: 3px;">
                                asked on: {{discussionQuestion.questionAskedDate | date:'medium'}}
                            </div>
                        </div>


                        <div style="display: inline-flex; margin-right: 0.3em; ">
                            <mat-icon (click)="increaseUpVoteCount(i)" style="cursor: pointer;" [ngStyle]="{'color': discussionQuestion.isUpVotedByCurrentLoggedInUser? '#0000ff9c' :''}">thumb_up_alt</mat-icon>
                            <p>{{discussionQuestion.questionUpVotesCount}}</p>
                        </div>
                        <div style="display: inline-flex;">
                            <mat-icon (click)="increaseDownVoteCount(i)" style="cursor: pointer;" [ngStyle]="{'color': discussionQuestion.isDownVotedByCurrentLoggedInUser? '#0000ff9c' :''}">thumb_down_alt</mat-icon>
                            <p>{{discussionQuestion.questionDownVotesCount}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding:12px; margin-left: 12px;margin-right: 12px;">
                <mat-divider ></mat-divider>
                
                <div  style="margin-top: 1em;">
                    <form (ngSubmit)="submitAnswer(i)" name="answerForm" [formGroup]="answerForm" fxLayoutAlign ="stretch" fxLayout="column">
                        <textarea formControlName="answer" pInputTextarea placeholder="Add a comment" style="width: 100%;" required></textarea>
                        <div style="display: flex; justify-content: right; margin-top: 0.3em;">
                            <button class="btn btn-success" type="submit" style="width: fit-content;">Submit</button>
                        </div>
                    </form>
                </div>
                <div style="font-weight: 600; font-size: large;">
                    {{discussionQuestion.allAnswers.length}} Answers
                </div>

                <!-- first answer -->
                <ng-container *ngFor="let answer of discussionQuestion.allAnswers; let j = index">
                    <div style="margin-top: 0.4em;">
                        <div class="row">
                            <div style="display: flex; margin-bottom: 0.3em;">
                                <p>
                                {{answer.answer}}
                                </p>
                            </div>
                            <div style="display: flex; justify-content: right;">
                                <div style="display: inline-flex;">
                                    <div style=" display: inline-flex; margin-right: 0.8em;">
                                        <p>answered on: {{answer.answeredOn | date:'medium'}}</p>
                                    </div>
                                    <!-- <div style="display: inline-flex;">
                                        <p>3 March 2022</p>
                                    </div> -->
                                </div>
                                <div style="display: inline-flex; margin-right: 0.3em;">
                                    <mat-icon>thumb_up_alt</mat-icon>
                                    <p>{{answer.answerUpVotesCount}}</p>
                                </div>
                                <div style="display: inline-flex;">
                                    <mat-icon>thumb_down_alt</mat-icon>
                                    <p>{{answer.answerUpVotesCount}}</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <mat-divider></mat-divider>
                </ng-container>
            </div>
        </div> 
    </ng-container>
</ng-template>

<ng-template #myQuestionsTemplate>
My Questions list
</ng-template>

<app-spinner [loading]="loading" [diameter]="50" [overlay]="true">
</app-spinner>

