 <!-- Test started -->

 <div class="row" [ngStyle]="{'flex-direction': isMobileView ? 'column-reverse' : 'unset'}" style="padding-right: 15px; width: 100%; margin-left: 0.1px; margin-top: 5px; display: flex;">
    <div class="col-sm-9" style="padding-right: 0;">
        <div class="card mb-4 box-shadow mat-elevation-z2">
            <div class="card-body" style="padding: 2px;">
                <div>
                    <p-tabView>
                        <p-tabPanel [selected]="true">
                            <ng-template pTemplate="header">
                                <div>Recent Questions <p-badge [value]="allDiscussionQuestions.length.toString()" styleClass="mr-2"></p-badge></div>
                            </ng-template>
                            <ng-container *ngTemplateOutlet="recentQuestionTemplate; context: {$implicit: limitedAllDiscussionQuestions, tab: 0}">
        
                            </ng-container>
                        </p-tabPanel>
                        <p-tabPanel>
                            <ng-template pTemplate="header">
                                <div>My Questions <p-badge [value]="myDiscussionQuestions.length.toString()" styleClass="mr-2"></p-badge></div>
                            </ng-template>
                            <ng-container *ngTemplateOutlet="recentQuestionTemplate; context: {$implicit: limitedMyDiscussionQuestions, tab:1}">
        
                            </ng-container>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3" style="padding-right: 0;">
        <div class="card mb-4 box-shadow ask-question-button mat-elevation-z2" style="position: fixed; min-width: 20em;">
            <div class="card-body" style="text-align: center;">
                <div>
                    <h3 class="card-title" style="text-align: center; display: inline; ">
                        <button class="btn btn-primary" (click)="addDiscussionQuestion()">Ask A Question</button>
                    </h3>
                </div>
                
            </div>  
        </div>
    </div>
</div>
<!-- <p-scrollTop [threshold]="0"></p-scrollTop> -->

<ng-template #recentQuestionTemplate let-allAvailableQuestions let-tab="tab">

    <ng-container *ngIf="allAvailableQuestions.length > 0; else noQuestionsAvailable">
        <ng-container *ngFor="let discussionQuestion of allAvailableQuestions; let i = index">
            <div class="card mat-elevation-z2" style="margin-bottom: 2em;">
                <div class="row" style="margin-top: 0.6em; margin-left: 0.3em;">
                    <div class="row" style="float: left;">
                        <div class="row">
                            <div class="col-sm-1" style="width: fit-content;">
                                <img class="rounded-circle" src="{{discussionQuestion.discussionQuestion.questionAskedByImage}}" style=" height: 3em; width: 3em">
                            </div>

                            <div class="col-sm-11" style="font-weight: 600; color: #5d5ded; width: fit-content;">
                                {{discussionQuestion.discussionQuestion.questionAskedByUsername}}
                            </div>
                        </div>
                    </div>
                    <div class="row question-with-date-class" style="display: flex; justify-content: center;">
                        <div class="row question-in-mobile-view" style="margin-top: 0.3em; font-weight: 700; padding-left: 4em; word-break: break-word;">
                            <div style="font-weight: 400;">
                                {{discussionQuestion.discussionQuestion.question}}
                            </div>
                            <div class=" card-title" style="display: flex; margin-top: 5px;">
                                <ng-container *ngFor="let questionTag of discussionQuestion.discussionQuestion.questionTags">
                                    <div style="width: fit-content; height: auto; margin-bottom: 0.3em; 
                                                margin-right: 0.6em; background-color: #e1ecf4; border-radius: 3px; padding: 2px;">
                                        {{questionTag}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        
                        <div style="display: flex;justify-content: right;">
                            <div style="display: inline-flex; margin-right: 8px;">
                                <div style=" display: inline-flex; margin-right: 3px;">
                                    asked on: {{discussionQuestion.discussionQuestion.questionAskedDate | date:'medium'}}
                                </div>
                            </div>

                            <div style="display: inline-flex; margin-right: 0.3em; ">
                                <mat-icon (click)="increaseUpVoteCount(discussionQuestion.discussionQuestion.id, i)" style="cursor: pointer;" [ngStyle]="{'color': discussionQuestion.discussionQuestion.isUpVotedByCurrentLoggedInUser? '#0000ff9c' :''}">thumb_up_alt</mat-icon>
                                <p>{{discussionQuestion.discussionQuestion.questionUpVotesCount}}</p>
                            </div>
                            <div style="display: inline-flex;">
                                <mat-icon (click)="increaseDownVoteCount(discussionQuestion.discussionQuestion.id, i)" style="cursor: pointer;" [ngStyle]="{'color': discussionQuestion.discussionQuestion.isDownVotedByCurrentLoggedInUser? '#0000ff9c' :''}">thumb_down_alt</mat-icon>
                                <p>{{discussionQuestion.discussionQuestion.questionDownVotesCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:12px; margin-left: 12px;margin-right: 12px;">
                    <mat-divider ></mat-divider>
                    
                    <div  style="margin-top: 1em;">
                        <form (ngSubmit)="submitAnswer(discussionQuestion.discussionQuestion.id)" name="answerForm" [formGroup]="answerForm" fxLayoutAlign ="stretch" fxLayout="column">
                            <textarea (keyup)="answerFieldChanged($event, i)" formControlName="answer" pInputTextarea placeholder="Add a comment" style="width: 100%;"></textarea>
                            <div style="display: flex; justify-content: right; margin-top: 0.3em;">
                                <button class="btn btn-success" type="submit" style="width: fit-content;" [disabled]="questionChangedIndex !== i || answerForm.invalid ">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div style="font-weight: 600; font-size: large;">
                        {{discussionQuestion.allAnswers.length}} Answers
                    </div>

                    <ng-container *ngFor="let answer of discussionQuestion.allAnswers; let j = index">
                        <div style="margin-top: 0.4em;">
                            <div class="row">
                                <div style="margin-bottom: 0.3em;">
                                    <p>
                                    {{answer.answer}}
                                    </p>
                                </div>
                                <div style="display: flex; justify-content: right;">
                                    <div style="display: inline-flex;">
                                        <div style=" display: inline-flex; margin-right: 0.8em;">
                                            <p> <span style="color: #3838dc;">{{answer.answeredByUsername}} </span> answered on: {{answer.answeredOn | date:'medium'}}</p>
                                        </div>
                                    </div>
                                    <div style="display: inline-flex; margin-right: 0.3em;">
                                        <mat-icon (click)="increaseUpVoteCountOfAnswer(discussionQuestion.discussionQuestion.id, answer.id, i, j)" style="cursor: pointer;" [ngStyle]="{'color': answer.isUpVotedByCurrentLoggedInUser? '#0000ff9c' :''}">thumb_up_alt</mat-icon>
                                        <p>{{answer.answerUpVotesCount}}</p>
                                    </div>
                                    <div style="display: inline-flex;">
                                        <mat-icon (click)="increaseDownVoteCountOfAnswer(discussionQuestion.discussionQuestion.id, answer.id, i, j)" style="cursor: pointer;" [ngStyle]="{'color': answer.isDownVotedByCurrentLoggedInUser? '#0000ff9c' :''}">thumb_down_alt</mat-icon>
                                        <p>{{answer.answerDownVotesCount}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-divider *ngIf="j !== discussionQuestion.allAnswers.length-1"></mat-divider>
                    </ng-container>
                </div>
            </div> 
        </ng-container>
        <div style="text-align: center;">
            <mat-icon (click)="loadMoreAllDiscussionQuestions()" 
                style="cursor: pointer;" pTooltip="Load more" 
                *ngIf="limitedAllDiscussionQuestions.length !== allDiscussionQuestions.length && tab === 0">
                expand_circle_down
            </mat-icon>
            <mat-icon (click)="loadMoreMyDiscussionQuestions()" 
                style="cursor: pointer;" pTooltip="Load more" 
                *ngIf="limitedMyDiscussionQuestions.length !== myDiscussionQuestions.length && tab === 1">
                expand_circle_down
            </mat-icon>
        </div>
    </ng-container>
</ng-template>

<ng-template #myQuestionsTemplate>
My Questions list
</ng-template>

<ng-template #noQuestionsAvailable>
No discussion questions available yet.
</ng-template>

<app-spinner [loading]="loading" [diameter]="50" [overlay]="true">
</app-spinner>


 <!-- Test ended -->