.content{
    /* height: calc(100vh - 98px); */
    height: 45em;
    margin: 2em;
    margin-left: 2em;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 2rem;
    color: lightgray;
    border-radius: 10px;
  }  
  
  /*
  css for mat table
  */
  
  .table-contents{
    width: 80%;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
    margin-bottom: 20em;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .table-header-class{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .styled-paginator {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }


  /* Responsive table */

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mobile-label {
    display: none;
  }
  
  @media(max-width: 600px) {
    .mobile-label {
      width: 80px;
      display: inline-block;
          font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }
  }

  .example-container {
    /* display: flex; */
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }



  /* css for margin */