
<div>
    <h1 style="text-align: center; margin-top: 0.4em; font-family: 'Cambay';">My All Tests</h1>
    <div id="content" #content>
        <div class="card" style="margin: 8px;">
            <p-table #testTable
                [columns]="displayedColumns" 
                [paginator]="true" 
                [rows]="5" 
                [showCurrentPageReport]="true" 
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
                [rowsPerPageOptions]="[5,10,20]" 
                [value]="allMockTests"
                styleClass="p-datatable-striped"
                [totalRecords]="allMockTests.length"
                class="card mat-elevation-z2"
                [globalFilterFields]="['id', 'testName','testTakenBy','testCategory','testType']">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="font-family: 'Cambay';">No</th>
                        <th style="font-family: 'Cambay'" [pSortableColumn]="col.field" *ngFor="let col of columns">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                            <p-columnFilter *ngIf="
                                            col.field == 'id' || 
                                           col.field == 'testName' || 
                                           col.field == 'testTakenBy' || 
                                           col.field == 'testCategory' ||
                                           col.field == 'testType'" 
                                        type="text" [field]="col.field" display="menu"></p-columnFilter>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-row let-i= "rowIndex" let-columns="columns">
                    <tr>
                        <td>
                            <div>
                                <a style="text-align: center; color: #0490f4; cursor: pointer;">{{i + 1}}</a>
                            </div>
                        </td>
                        <td *ngFor="let col of columns">
                            <div *ngIf="col.field == 'actions' || col.field == 'studentList'; else resultElseBlock">
                                <ng-container *ngIf="col.field == 'actions'"> 
                                    <mat-icon matTooltip="Delete" (click)="deleteMockTest(row.id)" style="color: red; cursor: pointer;">delete</mat-icon>
                                    <mat-icon matTooltip="Edit" [routerLink]="['/teacherdashboard/editmocktest']" 
                                                [queryParams]="{ testId: row.id }" style="cursor: pointer;">edit</mat-icon>
                                </ng-container>

                                <ng-container *ngIf="col.field == 'studentList'">
                                    <a [routerLink]="['/teacherdashboard/viewAllStudentsOfATest']" 
                                        [queryParams]="{testId: row.id, testCategory: row.testCategory}" style="color: blue; cursor: pointer;"><u>View all students</u></a>
                                </ng-container>



                            </div>
                            <ng-template #resultElseBlock>
                                {{row[col.field]}}
                            </ng-template>
                                
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">No tests found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div>
        </div>
    </div>
</div>

<app-spinner [loading]="loading"></app-spinner>