<app-studentdashboardnavigationbar></app-studentdashboardnavigationbar>
<!-- <router-outlet></router-outlet> -->


<!-- File upload -->

<!-- <div style="margin-top: 10em; text-align: center;">
<h2 style="text-align: center;">File Upload</h2>

<div style="margin-top: 4rem;">
<form id="file-upload-form" class="uploader">
  <input id="file-upload" (change)="uploadFile($event) " type="file" name="fileUpload" accept=".xls, .xlsx" />

  <label for="file-upload" id="file-drag">
    <img id="file-image" src="#" alt="Preview" class="hidden">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Select a file or drag here</div>
      <div id="notimage" class="hidden">Please select an image</div>
      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
    </div>
    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>%
      </progress>
    </div>
  </label>
</form>
</div>
</div> -->

<!-- <div style="margin-top: 25rem; margin-left: 20rem; text-align: center; align-content: center;">
    <div style="width: 50rem; height:50rem">
        <div *ngFor="let test of mockTests; let i = index" [attr.data-index]="i">
            <h1 style="text-align: center;">Mock {{i+1}}</h1>
            <mat-card class="example-card">
                <mat-card-content>
            <div *ngFor="let question of test.questions; let j= index" [attr.data-index]="j">
                <div><h2>{{j + 1}}. {{question.question}}</h2></div>
                <ul>
                <div *ngFor="let option of question.options">
                    <div style="text-align: center;"><li>{{option}}</li></div>
                </div>
            </ul>
            </div>
            
            </mat-card-content>
            </mat-card>
        </div>
    </div>
</div> -->