
    <!-- <mat-toolbar class="mat-toolbar-class" style="background-color: rgba(0, 0, 0, 0);">
      <button mat-icon-button *ngIf="sidenav.mode === 'over' " (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">menu</mat-icon> 
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>
      My Profile     
    </mat-toolbar> -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light" style="background-color: #cacae2eb !important;">
      <button mat-icon-button *ngIf="sidenav.mode === 'over' " (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon> 
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    My Profile
    </nav>
    
    <mat-sidenav-container class="mat-sidenav-container-class">
      <mat-sidenav #sidenav="matSidenav" class="mat-sidenav-class" mode='over'>
    
    
          <p></p>
          <img class="rounded-circle" src="{{profileImageUrl}}" width="100">
          <h4 class="name">{{username}}</h4>
    
          <mat-divider class="mat-divider"></mat-divider>
          <button routerLink="editprofileinfo" routerLinkActive="docs-navbar-header-item-selected" mat-button class="menu-button">
              <mat-icon>person</mat-icon>
              <span>Profile</span>
          </button>
          <button routerLink="detailTestReport" routerLinkActive="docs-navbar-header-item-selected" mat-button class="menu-button">
              <mat-icon>article</mat-icon>
              <span>Tests History</span>
          </button>
          <!-- <button routerLink="testsAnalysisDashboard" routerLinkActive="docs-navbar-header-item-selected" mat-button class="menu-button">
            <mat-icon>pie_chart</mat-icon>
            <span>Tests Analysis Dashboard</span>
          </button> -->
          <button routerLink="/studentdashboard" routerLinkActive="docs-navbar-header-item-selected" mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
          <button (click)='logout()' mat-button class="menu-button">
            <mat-icon>logout</mat-icon>
            <span>Sign out</span>
          </button>
      </mat-sidenav>
    
      <mat-sidenav-content class="mat-sidenav-content-class">
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
    