.mat-toolbar-class{
    background:darkslateblue;
    color: white;
  }
  
  .mat-sidenav-container-class{
    /* height: calc(100vh - 65px); */
    height: 45em;
  }
  
  .mat-sidenav-class{
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #5179c4;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }
  
  .content{
    /* height: calc(100vh - 98px); */
    height: 45em;
    margin: 2em;
    margin-left: 2em;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 2rem;
    color: lightgray;
    border-radius: 10px;
  }
  
  .menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }
  
  .mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255,255,255,0.5);
  }
  
  
  
  /*
  css for mat table
  */
  
  .table-contents{
    width: 80%;
    margin-left: 10em;
    margin-top: 2em;
    margin-bottom: 20em;
  }
  
  .quest-width{
    max-width: 75px;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .table-header-class{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }