<div >
    <h1 style="text-align: center; margin-top: 2em;">All Tests Analysis</h1>
</div>
<div class="container rounded bg-blue mt-5 mb-5">
    <div class="col-md-5" style="margin-left: 20em;">
        <!-- <div class="p-3"> -->

            <table class="columns" style="display: inline; text-align: center; align-items: center;">
                <tr>
                <td><div id="subject_chart_div" style="border: 1px solid #000000; width: 400px; height: 300px;"></div></td>
                <td><div id="topic_chart_div" style="border: 1px solid #000000; width: 400px; height: 300px;"></div></td>
                </tr>
            </table>
        <!-- </div> -->
    </div>
</div>
