<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        
        <mat-card-content>
    <div class="col-lg-6 py-3 wow fadeInUp">
        <div class="subhead">Contact Us</div>
        <h2 class="title-section">Drop Us a Line</h2>
        <div class="divider"></div>
        
        <form action="#">
            
            <div class="py-2">
                <input type="text" class="form-control" placeholder="Full name">
              </div>
              <div class="py-2">
                <input type="text" class="form-control" placeholder="Email">
              </div>
              <div class="py-2">
                <textarea rows="6" class="form-control" placeholder="Enter message"></textarea>
              </div>
              <button type="submit" class="btn btn-primary rounded-pill mt-4">Send Message</button>
        </form>
      </div>
    </mat-card-content>
    </mat-card>
    </div>