<app-studentdashboardnavigationbar></app-studentdashboardnavigationbar>>

<div class="row" style="margin-top: 6rem; margin-left: 2rem; margin-right: 2rem; margin-bottom: 2rem;">
    <div style="text-align: center;">
        <h1>All {{testType}} tests</h1>
        <ng-template [ngIf]="testType==='Paid'"><h2>Please get premium membership to access these tests or buy individual tests here<i style="color: red;">*</i></h2></ng-template>
    </div>
    <ng-template [ngIf]="listOfMockTests.length != 0">
        <ng-container class ="col-sm-6"  *ngFor="let individualTest of listOfMockTests; let i = index" style="margin-bottom: 2rem;">
            <div class ="col-sm-6" style="margin-bottom: 2rem;">
                <div class="card">
                    <div class="card-body">
                    <div>
                        <h3 class="card-title" style="text-align: center; display: inline; ">
                            <b>Test {{i+1}}</b>
                            <mat-icon *ngIf="testType==='Paid' && !individualTest.isBought">
                                lock
                            </mat-icon>
                        </h3>
                        <h4 [hidden]="testType==='Free' || individualTest.isBought" class="card-title" style="float: right;"><mat-icon>currency_rupee</mat-icon>{{individualTest.testPrice}}</h4>
                    </div>
                    <p class="card-text"><b>Test Name:</b> {{individualTest.testName}}</p>
                    <p class="card-text"><b>By:</b> {{individualTest.testTakenBy}}</p>
                    <p class="card-text"><b>Test Type:</b> {{individualTest.testType}}</p>
                    <p class="card-text"><b>Total Time:</b> {{individualTest.totalTime}} mins</p>
                    <p class="card-text"><b>Total Number Of Questions:</b> {{individualTest.questions.length}}</p>
                    <button (click)="startTest(individualTest.id, individualTest)" class="btn btn-primary" [disabled]="testType==='Paid' && !individualTest.isBought" style="margin-right: 2em;">Start Test</button>
                    <button (click)="buyTest(individualTest.id)" class="btn btn-primary" [hidden]="testType==='Free' || individualTest.isBought">Buy Test</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-template>
    <ng-template [ngIf]="listOfMockTests.length === 0">
        No Tests Available
    </ng-template>
</div>
<app-spinner [loading]="loading"></app-spinner>

