<app-studentdashboardnavigationbar></app-studentdashboardnavigationbar>>

<div class="row" style="margin-top: 6rem; margin-left: 2rem; margin-right: 2rem; margin-bottom: 2rem;">
    <h1 style="text-align: center;">All {{testType}} tests</h1>
    <ng-template [ngIf]="listOfMockTests.length != 0">
        <ng-container class ="col-sm-6"  *ngFor="let individualTest of listOfMockTests; let i = index" style="margin-bottom: 2rem;">
            <div class ="col-sm-6" style="margin-bottom: 2rem;">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Test {{i+1}}</h5>
                    <p class="card-text">Test Name: {{individualTest.testName}}</p>
                    <p class="card-text">By: {{individualTest.testTakenBy}}</p>
                    <p class="card-text">Test Type: {{individualTest.testType}}</p>
                    <p class="card-text">Total Time: {{individualTest.totalTime}}</p>
                    <p class="card-text">Total Number Of Questions: {{individualTest.totalNumberOfQuestions}}</p>
                    <a (click)="startTest(individualTest.id)" class="btn btn-primary">Start Test</a>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-template>
    <ng-template [ngIf]="listOfMockTests.length === 0">
        No Tests Available
    </ng-template>
</div>
<app-spinner [loading]="loading"></app-spinner>

