
<!-- Test start 2 -->
<section class="u-align-center u-clearfix u-section-1" id="carousel_6cbf">
  <div class="u-expanded-width u-grey-10 u-shape u-shape-rectangle u-shape-1"></div>
  <h1 class="u-text u-text-1"> Practice On Your Own Schedule</h1>
  <div class="u-list u-list-1">
    <div class="u-repeater u-repeater-1">
      <ng-container *ngFor="let content of cardContents; let i = index">

        <div [ngSwitch]="content['title']">

          <ng-container *ngSwitchCase="'My Dashboard'">
            <div routerLink="{{content['url']}}" style="cursor: pointer;" class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img alt="" class="u-bottom-left-radius-20 u-image u-image-round u-top-right-radius-20 u-image-1" data-image-width="800" data-image-height="800" src="{{content['imageName']}}">
                <h3 class="u-text u-text-default u-text-2">{{ content['title'] }}</h3>
                <p class="u-text u-text-3"> {{ content['description'] }}</p>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <div routerLink="{{content['url']}}" [queryParams]="{ testCategory: content['testCategory'] }" style="cursor: pointer;" class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img alt="" class="u-bottom-left-radius-20 u-image u-image-round u-top-right-radius-20 u-image-1" data-image-width="800" data-image-height="800" src="{{content['imageName']}}">
                <h3 class="u-text u-text-default u-text-2">{{ content['title'] }}</h3>
                <p class="u-text u-text-3"> {{ content['description'] }}</p>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</section>


<!-- Test end 2 -->

<!-- test 3 -->
<!-- <ng-container> -->

  <!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="false" [fixedTopGap]="0"
                 [fixedBottomGap]="0">
      
      <ul class="navbar-nav mr-auto">
        <li class="dashboard-items nav-item">
          <mat-icon class="position-left">dashboard</mat-icon>
          <span class="position-left"> Dashboard</span>
        </li>
        <li class="dashboard-items nav-item">
          <mat-icon class="position-left">quiz</mat-icon>
          <span class="position-left">Mock Tests</span>
        </li>
        <li class="dashboard-items nav-item">
          <mat-icon class="position-left">subject</mat-icon>
          <span class="position-left">Subject Tests</span>
        </li>
        <li class="dashboard-items nav-item">
          <mat-icon class="position-left">analytics</mat-icon>
          <span class="position-left">Analytics</span>
        </li>
      </ul>
    </mat-sidenav> -->

    <!-- <mat-sidenav-content [formGroup]="options">
      <p><mat-checkbox formControlName="fixed">Fixed</mat-checkbox></p>
      <p><mat-form-field appearance="fill">
        <mat-label>Top gap</mat-label>
        <input matInput type="number" formControlName="top">
      </mat-form-field></p>
      <p><mat-form-field appearance="fill">
        <mat-label>Bottom gap</mat-label>
        <input matInput type="number" formControlName="bottom">
      </mat-form-field></p>
      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    </mat-sidenav-content> -->

    <!-- <mat-sidenav-content style="margin-top:2em;">
      <div style="font-size: 20px; font-weight: 600;">
      Dashboard
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
<!-- </ng-container> -->

<!-- test 3 end -->




