
<div style="margin-top: 10em; margin-bottom: 1em; text-align: center;">
    <div class="container rounded bg-blue mt-5 mb-5">
      <div class="row">
        
          <div class="border card" style="border-color: #e0e0e0 !important; margin-bottom: 1em;">
              <div class="p-3">
                  <div class="mb-3">
                      <h4 class="align-items-center" style="display: inline; text-align: center;"><b>Edit Test</b></h4>
                  </div>
    
                  <form (ngSubmit)="modifyMockTest()" name="modifyMockTestForm" [formGroup]="modifyMockTestForm" >
                    <div style="width: 100%; display: flex;">
                        <mat-form-field style="width: 50%; margin-right:0.5em" appearance="outline" >
                            <mat-label>Test Name</mat-label>
                            <input formControlName="testName" type="text" required matInput >
                            <mat-error *ngIf="modifyMockTestForm.get('testName')?.dirty && modifyMockTestForm.get('testName')?.errors">
                                Test name is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field style="width: 50%;" appearance="outline">
                          <mat-label>Test Taker</mat-label>
                          <input formControlName="testTakenBy" type="text" required matInput>
                          <mat-error *ngIf="modifyMockTestForm.get('testTakenBy')?.dirty && modifyMockTestForm.get('testTakenBy')?.errors">
                            Test Taker name is required
                          </mat-error>
                      </mat-form-field>
                    </div>
    
                    <div style="width: 100%; display: flex;">
                        <mat-form-field style="width: 50%; margin-right: 0.5em;" appearance="outline">
                            <mat-label>Total Time</mat-label>
                            <input formControlName="totalTime" type="number" required matInput>
                            <mat-error *ngIf="modifyMockTestForm.get('totalTime')?.dirty && modifyMockTestForm.get('totalTime')?.errors">
                              Total time is required
                            </mat-error>
                            <mat-error *ngIf="modifyMockTestForm.get('totalTime')?.errors">
                              {{modifyMockTestForm.get('totalTime')?.errors | json}}
    
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field style="width: 50%;" appearance="outline">
                          <mat-label>Total No of Questions</mat-label>
                          <input formControlName="totalNumberOfQuestions" type="number" required matInput>
                          <mat-error *ngIf="modifyMockTestForm.get('totalNumberOfQuestions')?.dirty && modifyMockTestForm.get('totalNumberOfQuestions')?.errors">
                            Total No of Questions is required
                          </mat-error>
                      </mat-form-field>

                    </div>
    
                    <div style="text-align: left; margin-bottom: 1em;">
                      <!-- <mat-form-field style="width: 100%;" appearance="outline"> -->
                          <mat-label style="text-align: left;">Test Type: </mat-label>
                          <mat-radio-group formControlName="testType" [(ngModel)]="testType" aria-label="Test Type">
                            <mat-radio-button style="margin-right: 1em;" (change)="testTypeChanged($event)" [checked]="testType === 'Free'" value="Free">Free</mat-radio-button>
                            <mat-radio-button [checked]="testType === 'Paid'" value="Paid">Paid</mat-radio-button>
                          </mat-radio-group>
                          <!-- <input formControlName="testType" type="text" required matInput> -->
                          <mat-error *ngIf="modifyMockTestForm.get('testType')?.dirty && modifyMockTestForm.get('testType')?.errors">
                            Test Type is required
                          </mat-error>
                      <!-- </mat-form-field> -->
                    </div>

                    <div>
                      <mat-form-field *ngIf="modifyMockTestForm.get('testType')?.value === 'Paid'" style="width: 100%;" appearance="outline">
                          <mat-label>Test Price</mat-label>
                          <input formControlName="testPrice" type="number" [required]="modifyMockTestForm.get('testType')?.value === 'Paid'" matInput>
                          <mat-error *ngIf="modifyMockTestForm.get('testPrice')?.dirty && modifyMockTestForm.get('testType')?.value === 'Paid' && modifyMockTestForm.get('testPrice')?.errors">
                            Test Price is required
                          </mat-error>
                      </mat-form-field>
                    </div>

                    <div style="text-align: left; margin-bottom: 1em;">
                      <!-- <mat-form-field style="width: 100%;" appearance="outline"> -->
                          <mat-label style="text-align: left;">Test Category: </mat-label>
                          <mat-radio-group formControlName="testCategory" [(ngModel)]="testCategory" aria-label="Test Type">
                            <mat-radio-button style="margin-right: 1em;" [checked]="testCategory === 'Mock'" value="Mock">Mock Test</mat-radio-button>
                            <mat-radio-button [checked]="testCategory === 'Subject'" value="Subject">Subject Test</mat-radio-button>
                          </mat-radio-group>
                          <!-- <input formControlName="testType" type="text" required matInput> -->
                          <mat-error *ngIf="modifyMockTestForm.get('testCategory')?.dirty && modifyMockTestForm.get('testCategory')?.errors">
                            Test Category is required
                          </mat-error>
                      <!-- </mat-form-field> -->
                    </div>

                    <div>
                      <mat-form-field *ngIf="modifyMockTestForm.get('testCategory')?.value === 'Subject'" style="width: 100%;" appearance="outline">
                          <mat-label>Subject Name</mat-label>
                          <input formControlName="subjectName" type="text" [required]="modifyMockTestForm.get('testCategory')?.value === 'Subject'" matInput>
                          <mat-error *ngIf="modifyMockTestForm.get('subjectName')?.dirty && modifyMockTestForm.get('testCategory')?.value === 'Subject' && modifyMockTestForm.get('subjectName')?.errors">
                            Subject Name is required
                          </mat-error>
                      </mat-form-field>
                    </div>

                    <div>
                      <mat-form-field *ngIf="modifyMockTestForm.get('testCategory')?.value === 'Subject'" style="width: 100%;" appearance="outline">
                          <mat-label>Topic Name</mat-label>
                          <input formControlName="topicName" type="text" [required]="modifyMockTestForm.get('testCategory')?.value === 'Subject'" matInput>
                          <mat-error *ngIf="modifyMockTestForm.get('topicName')?.dirty && modifyMockTestForm.get('testCategory')?.value === 'Subject' && modifyMockTestForm.get('topicName')?.errors">
                            Topic Name is required
                          </mat-error>
                      </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Edit Question No</mat-label>
                            <mat-select [disabled]="modifyMockTestForm.invalid" [(value)]="selectedValue" name="question">
                              <mat-option *ngFor="let question of testQuestions; let i = index" [value]="i">
                                {{i+1}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>

                    <div *ngIf="selectedValue !== undefined">
                        <mat-form-field (change)="updateQuestion(selectedValue, $event)" style="width: 100%;" appearance="outline">
                            <mat-label>Question</mat-label>
                            <textarea rows="6" formControlName="question" required matInput value="{{testQuestions[selectedValue]?.question}}"></textarea>
                        </mat-form-field>

                        <mat-form-field (change)="updateOption(selectedValue,0, $event)" style="width: 100%;" appearance="outline">
                            <mat-label>Option 1</mat-label>
                            <input formControlName="optionA" required matInput value="{{testQuestions[selectedValue].options[0]}}">
                        </mat-form-field>

                        <mat-form-field (change)="updateOption(selectedValue,1, $event)" style="width: 100%;" appearance="outline">
                            <mat-label>Option 2</mat-label>
                            <input formControlName="optionB" required matInput value="{{testQuestions[selectedValue].options[1]}}">
                        </mat-form-field>

                        <mat-form-field (change)="updateOption(selectedValue,2, $event)" style="width: 100%;" appearance="outline">
                            <mat-label>Option 3</mat-label>
                            <input formControlName="optionC" required matInput value="{{testQuestions[selectedValue].options[2]}}">
                        </mat-form-field>

                        <mat-form-field (change)="updateOption(selectedValue,3, $event)" style="width: 100%;" appearance="outline">
                            <mat-label>Option 4</mat-label>
                            <input formControlName="optionD" required matInput value="{{testQuestions[selectedValue].options[3]}}">
                        </mat-form-field>

                        <mat-form-field (change)="updateCorrectAnswer(selectedValue, $event)" style="width: 100%;" appearance="outline">
                            <mat-label>Correct Answer</mat-label>
                            <input formControlName="correctAnswer" required matInput value="{{testQuestions[selectedValue]?.correctAnswer}}">
                        </mat-form-field>

                        <mat-form-field (change)="updateAnswerExplanation(selectedValue, $event)" style="width: 100%;" appearance="outline">
                          <mat-label>Answer Explanation</mat-label>
                          <textarea rows="6" formControlName="answerExplanation" required matInput value="{{testQuestions[selectedValue]?.answerExplanation}}"></textarea>
                        </mat-form-field>
                    </div>    
                    <div>
                        <button class="btn btn-danger" style="margin-right: 2em;" type="button" (click) = "clearForm()">Cancel</button>
                        <button class="btn btn-success" type="submit" [disabled]="modifyMockTestForm.invalid">Save</button>
                    </div>
                  </form>
              </div>
          </div>
        
    </div>
</div>

<app-spinner [loading]="loading" [mode]="'indeterminate'" [diameter]="50" [overlay]="true">
</app-spinner>
