.options-item:hover{
    border: 1px solid blue;
}

.options-item:active{
    background-color: green;
}

.question-number-btn-class{
    color:black;
    border-radius: .4em; 
    /* border-color: black;  */
    margin-left: 1em; 
    margin-top: 0.5em; 
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.question-number-btn-class:hover{
    background-color: #3006d7ad;
}


.question-number-btn-class-focus{
    background-color: #727272a1;
}

.question-number-answered{
    background-color: #31a14f;
}

.option-selected{
    background-color: #31a14f;
}

.option-not-selected{

}


.float-container {
    padding: 20px;
    display: flex;
}

.float-child {
    width: 50%;
    /* float: left; */
    padding: 20px;
}  

.clear{
    clear: both;
}

.table-contents{
    width: 80%;
    margin-left: 10em;
    margin-top: 2em;
    margin-bottom: 20em;
}

.quest-width{
    max-width: 75px;
}

.responsive{
    margin-right: 0.8em;
    width: 200px;
    height: 200px;
}

.images-list{
    display: inline;
}

.answered-dot{
    width: 25px;
    height: 25px;
    background-color: #5aad5a;
    border-radius: 50%;
    display: inherit;
}

.not-answered-dot{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    display: inherit;
    border: 1px solid;
}

.active-dot{
    width: 25px;
    height: 25px;
    background-color: #727272a1;
    border-radius: 50%;
    display: inherit;
}

@media (max-width: 576px) {
    .hide-question-status{
        display: none;
    }

    .question-mobile-view{
        padding-left: 3.2em !important;
    }

    .question-buttons-mobile-view{
        padding-left: 3.2em !important;
    }

    .individual-question-navigation-button{
        height: auto !important;
    }
}