
<!-- Bootstrap test -->

<ng-template  #testFinsihedBlock>
    <div style="text-align: center;">
        <h1>User ID: {{userId}}</h1>
        <h1>Test ID: {{testId}}</h1>
        <h1>Test has been finished successfully</h1>
        <h2>Your test result is here</h2>
        <div>
            <h3>Questions Attempted: </h3> {{noOfQuestionsAttempted}}
            <h3>Questions Unattempted: </h3> {{noOfQuestionsUnattempted}}
            <h3>Questions Answered Correctly: </h3> {{noOfQuestionsAnsweredCorrectly}}
            <h3>Questions Answered Incorrectly</h3>{{noOfQuestionsAnsweredIncorrectly}}
        </div>
        <p>Visit your profile to see detail result</p>
        <button class="btn btn-primary" (click)="viewProfile()">View Dashboard</button>
    </div>
</ng-template>


<!-- Test start -->

<ng-container *ngIf="!testFinished; else testFinsihedBlock" >

    <div class="row" style="width: 100%;">

        <div class="row">
            <div class="col-sm-8">
                <h1 style="text-align: center; margin-top: 1em;">
                    Time Left:
                    {{hour == 0 ? '00': hour <=9 ? '0' + hour : hour}}:{{minutes == 0 ? '00' : minutes <=9 ? '0' + minutes : minutes}}:{{seconds == 0 ? '00' : seconds <= 9 ? '0' + seconds : seconds}}
                    <mat-icon aria-label="home icom">
                        timer
                    </mat-icon>
                </h1>
            </div>
            <div class="col-sm-4">
                <div style="margin-left: 2em; padding-top: 2.1em; font-size: 12px;">
                    <div style="display: inline-flex; margin: 0.5em;">
                        <span class="answered-dot"></span>
                        <p style="margin-left: 1em;">Answered</p>
                    </div>

                    <div style="display: inline-flex; margin: 0.5em;">
                        <span class="not-answered-dot"></span>
                        <p style="margin-left: 1em;">Not Answered</p>
                    </div>
                    <div style="display: inline-flex; margin: 0.5em;">
                        <span class="active-dot"></span>
                        <p style="margin-left: 1em;">Currently Active</p>
                    </div>
                </div>
            </div> 
        </div>

        <div class="row">
            <div class="col-sm-8 question-mobile-view" style="padding-left: 5em;">
                <div style="min-width: 20em; min-height: 25em;">
                    <div class="card" style="width: auto; border: 1px solid black; height: auto; padding: 1em;">
                        <div>
                            <h1 class="card-title" style="font-size: 15px; word-break: break-all;">Q{{counter + 1}}. {{testData.questions[counter]?.question}}</h1>
                        </div>

                        <div style="display: flex;">
                            <ng-container style="text-align: center;"  *ngFor="let imageUrl of testData.questions[counter]?.questionImageUrl; let i= index">
                                <div style="float: left;">
                                    <img  class="responsive" src="{{imageUrl}}">
                                    <p style="text-align: center;">Fig: {{i+1}}</p>
                                </div>
                            </ng-container>
                        </div>

                        <div>
                            <ol style="display: inline;">
                                <div>
                                    <li style ="height: 2.5em;" (click)="optionSelected(counter,option)" class="card options-item btn"
                                    [ngClass]="testData.questions[counter].selectedOption === option ? 'option-selected' : 'option-not-selected'"  *ngFor="let option of testData.questions[counter]?.options" style="cursor: pointer; margin: 10px 0;">{{option}}</li>
                                </div>
                            </ol>
                        </div>

                        <div>
                            <button class="btn btn-primary" [disabled]="counter === 0"  (click)="decreaseCounter()" style="width:fit-content; float: lef; margin-top: 1em; ">Previous</button>
                            <button class="btn btn-primary" [disabled]="counter === testData.questions.length-1" (click)="increaseCounter()" style="width:fit-content; float: right; margin-top: 1em;">Next</button>
                        </div>
                    </div>

                    <div style="margin: 1em; float: right;">
                        <button (click)="submitTest()" class="btn btn-primary"> Submit</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 question-buttons-mobile-view" style="padding-left: 2em;">
                <div style="min-width: 20em; min-height: 20em;">
                    <div class="card" style="width: auto; border: 1px solid black; height: auto; padding: 1em;">
                        <div class="row" style="font-size: 20px; text-align:center; margin-bottom:0.5em; height: 1.5em; border-bottom: 1px solid;">
                            <span style="text-align: center;">Question Status </span>
                        </div>
                        <div class="row" style="text-align: center; justify-content: center;">
                            <div (click)="changeQuestion(i)" style="width: fit-content; min-width:2em; padding: 0; margin: 4px; border: 1px solid; min-height: 2.8em;" 
                                    [ngClass]="{'question-number-btn-class-focus' : counter === i, 'question-number-answered': testData.questions[i].answered === true}"    
                                    class="col-sm-2 btn question-number-btn-class" 
                                    *ngFor="let question of testData.questions; let i = index" [attr.data-index]="i">
                                    <p style="padding-top: 8px;">{{i+1}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- Test end -->



