<div class="row" style="font-size: 20px; font-weight: 600; margin-top: 1em; padding: 15px;">
    <div class="row">
        <div class="row" style="margin: 2px;">
            <!-- Left side of dashboard -->
            <!-- <div class="col-sm-4" style="float: left; width: -webkit-fill-available; border-color: azure;">
                <div class="card mb-4 box-shadow">
                
                    <div style="margin-top: 0.3em;">
                        <div style="margin-top: 0.5em; margin-bottom: 0.5em;">
                            Overall Performance
                        </div>
                        <div id="donutchart" class="chart" style="height:160px; width: 300px;" >
                        </div>
                        <div>
                            <div style="margin-bottom: 0.5em; margin-top: 0.5em;">
                                Your Progress
                            </div>
                            <div class="card" style="padding: 5px; margin-bottom: 20px; background-color: #f7f7f7; border: slategrey;">
                                <div style="margin-left:0.3em; margin-bottom: 0.5em;">
                                    <p class="card-title" style="font-size: 15px; font-weight: 500;">Subject Tests</p>
                                    <div style="display: grid; margin-right: 0.3em;">
                                        <div style="display: inline;">
                                            <h6 class="card-subtitle  text-muted" style="font-size: 13px; float: left;">{{noOfSubjectTestsGivenByTheUser}} done out of {{allSubjectTestsList.length}}</h6>
                                            <h6 class="card-subtitle  text-muted" style="font-size: 13px; float: right;">{{((noOfSubjectTestsGivenByTheUser*100)/allSubjectTestsList.length)}}%</h6>
                                        </div>
                                        <div>
                                            <p-progressBar [value]="((noOfSubjectTestsGivenByTheUser*100)/allSubjectTestsList.length)" [showValue]="false" [style]="{'height': '6px'}"></p-progressBar>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card" style="padding: 5px; margin-bottom: 20px; background-color: #f7f7f7; border: slategrey;">
                                <div style="margin-left:0.3em; margin-bottom: 0.5em;">
                                    <p class="card-title" style="font-size: 15px; font-weight: 500;">Mock Tests</p>
                                    <div style="display: grid; margin-right: 0.3em;">
                                        <div style="display: inline;">
                                            <h6 class="card-subtitle  text-muted" style="font-size: 13px; float: left;">{{noOfMockTestsGivenByTheUser}} done out of {{listOfMockTests.length}}</h6>
                                            <h6 class="card-subtitle  text-muted" style="font-size: 13px; float: right;">{{((noOfMockTestsGivenByTheUser*100)/listOfMockTests.length)}}%</h6>
                                        </div>
                                        <div>
                                            <p-progressBar [value]="((noOfMockTestsGivenByTheUser*100)/listOfMockTests.length)" [showValue]="false" [style]="{'height': '6px'}"></p-progressBar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Right side of dashboard -->
            <div class="col-sm-12" style="float: right;">
                <div class="card mb-4 box-shadow">
                    <p style="margin-top: 5px; text-align: center;">Let's start a quick test</p> 
                    <div style="margin-top: 1em;">
                        <p-tabView>
                            <p-tabPanel header="Subject Tests">
                            <ng-container *ngTemplateOutlet="subjectTestsTemplate">
                
                            </ng-container>
                            </p-tabPanel>
                            <p-tabPanel header="Mock Tests">
                                <ng-container *ngTemplateOutlet="mockTestsTemplate">
                
                                </ng-container>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
            </div>   
        </div>  
    </div>
</div>


<!-- Test -->

<!-- <div class="container rounded bg-blue mt-5 mb-5">
    <div style="max-width: 500px; margin-left: auto; margin-right: auto;" >
        
        <div class="border card" style="border-color: #e0e0e0  !important;">
            <div class="p-3">
                
            </div>
        </div>
    </div>
</div> -->

<!-- Test end -->



<ng-template #subjectTestsTemplate>
    <div *ngIf="subjectNameList.length > 0; else noSubjectTestsAvailable">
        <p>Choose the Subject</p>
        <div class="row" style="margin-bottom: 1.3em; margin-left: 0.3em; margin-right: 0.3em;">
            <ng-container *ngFor="let subjectName of subjectNameList; let i = index">
                <div (click)="onSelectingSubject(i)" class="col-sm-3 questions-list-class" [ngClass]="selectedSubjectIndex === i? 'questions-list-class-selected':''">
                    <p style="text-align: center;">{{subjectName}}</p>
                </div>

                <div (click)="onSelectingSubject(i)" class="col-sm-3 questions-list-class" [ngClass]="selectedSubjectIndex === i? 'questions-list-class-selected':''">
                    <p style="text-align: center;">{{subjectName}}</p>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="row">
        <div>
            <p *ngIf="selectedSubjectIndex !== -1"> Choose the Topic</p>
            <div class="row" style="margin-bottom: 1.3em; margin-left: 0.3em; margin-right: 0.3em;">
                <ng-container *ngFor="let topicName of subjectToTopicList; let i = index">
                    <div (click)="onSelectingTopic(i)" class="col-sm-2 topic-list-class" [ngClass]="selectedTopicIndex === i? 'questions-list-class-selected':''">
                        <p style="text-align: center;">{{topicName}}</p>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngIf="listOfSubjectTests.length > 0">
            <p>Available Subject Tests</p>
        </div>
        <!-- Test -->
        <div class="row">
            <ng-container class ="col-sm-6"  *ngFor="let individualTest of listOfSubjectTests; let i = index" style="margin-bottom: 2rem;">
                <div class="col-md-6">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <div>
                                <h2 class="card-title" style="text-align: center; ">
                                    <b>{{individualTest.testName}}</b>
                                    <mat-icon *ngIf="individualTest.testType === 'Paid' ">
                                        {{ individualTest.isBought ? 'lock_open' : 'lock'}}
                                    </mat-icon>
                                </h2>
                                <h4 [hidden]="individualTest.testType==='Free' || individualTest.isBought" class="card-title" style="float: right;"><mat-icon>currency_rupee</mat-icon>{{individualTest.testPrice}}</h4>
                            </div>
                            <p class="card-text"><b>Test Taken By:</b> {{individualTest.testTakenBy}}</p>
                            <p class="card-text"><b>Test Type:</b> {{individualTest.testType}}</p>
                            <p class="card-text"><b>Test Category:</b> {{individualTest.testCategory}}</p>
                            <p class="card-text"><b>Total Time:</b> {{individualTest.totalTime}} mins</p>
                            <p class="card-text"><b>Total Number Of Questions:</b> {{individualTest.questions.length}}</p>
                            <mat-divider></mat-divider>
                            <p></p>
                            <p class="card-text">
                                This is the sample test taken by IOE. This is the sample test taken by IOE. This is the sample test taken by IOE
                            </p>
                            <button (click)="startTest(individualTest)" class="btn btn-outline-primary" [disabled]="individualTest.testType==='Paid' && !individualTest.isBought" style="margin-right: 2em;">Start Test</button>
                            <button (click)="buySubjectTest(individualTest.id)" class="btn btn-primary" [hidden]="individualTest.testType==='Free' || individualTest.isBought">Buy Test</button>
                            
                        </div>
                    </div>
                </div> 
            </ng-container>
        </div>
        <!-- Test end -->
    </div>
</ng-template>

<ng-template #mockTestsTemplate>
<p style="margin-bottom: 0.8em;">Choose the Mock Test</p>

<!-- Test -->
<div class="row">
    <ng-container class ="col-sm-6"  *ngFor="let individualTest of listOfMockTests; let i = index" style="margin-bottom: 2rem;">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <div>
                        <h2 class="card-title" style="text-align: center; ">
                            <b>Test {{i+1}}</b>
                            <mat-icon *ngIf="individualTest.testType === 'Paid' ">
                                {{ individualTest.isBought ? 'lock_open' : 'lock'}}
                            </mat-icon>
                        </h2>
                        <h4 [hidden]="individualTest.testType==='Free' || individualTest.isBought" class="card-title" style="float: right;"><mat-icon>currency_rupee</mat-icon>{{individualTest.testPrice}}</h4>
                    </div>
                    <p class="card-text"><b>Test Name:</b> {{individualTest.testName}}</p>
                    <p class="card-text"><b>Test Taken By:</b> {{individualTest.testTakenBy}}</p>
                    <p class="card-text"><b>Test Type:</b> {{individualTest.testType}}</p>
                    <p class="card-text"><b>Test Category:</b> {{individualTest.testCategory}}</p>
                    <p class="card-text"><b>Total Time:</b> {{individualTest.totalTime}} mins</p>
                    <p class="card-text"><b>Total Number Of Questions:</b> {{individualTest.questions.length}}</p>
                    <mat-divider></mat-divider>
                    <p></p>
                    <p class="card-text">
                        This is the sample test taken by IOE. This is the sample test taken by IOE. This is the sample test taken by IOE
                    </p>
                    <button (click)="startTest(individualTest)" class="btn btn-outline-primary" [disabled]="individualTest.testType==='Paid' && !individualTest.isBought" style="margin-right: 2em;">Start Test</button>
                    <button (click)="buyMockTest(individualTest.id)" class="btn btn-primary" [hidden]="individualTest.testType==='Free' || individualTest.isBought">Buy Test</button>
                    
                </div>
            </div>
        </div> 
    </ng-container>
</div>
<!-- Test end -->
</ng-template>

<ng-template #noSubjectTestsAvailable>
    No subject tests available at the moment.
</ng-template>

<app-spinner [loading]="loading" [overlay]="true">
</app-spinner>