<div class="row" style="font-size: 20px; font-weight: 600; margin: 0;">
    <div>
        <div>
            <div class="col-sm-12">
                <div class="card mb-4 box-shadow">
                    <p style="margin-top: 5px; text-align: center; font-family: 'Cambay';">Let's start a quick test</p> 
                    <div style="margin-top: 1em;">
                        <p-tabView>
                            <p-tabPanel>
                                <ng-template pTemplate="header">
                                    <div>Mock Tests <p-badge [value]="listOfMockTests.length.toString()" styleClass="mr-2"></p-badge></div>
                                </ng-template>

                                <ng-container *ngTemplateOutlet="mockTestsTemplate">
                                </ng-container>
                            </p-tabPanel>

                            <p-tabPanel>
                                <ng-template pTemplate="header">
                                    <div>Subject Tests <p-badge [value]="allSubjectTestsList.length.toString()" styleClass="mr-2"></p-badge></div>
                                </ng-template>
                                <ng-container *ngTemplateOutlet="subjectTestsTemplate">
                                </ng-container>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
            </div>   
        </div>  
    </div>
</div>

<p-scrollTop [threshold]="0"></p-scrollTop>

<!-- Test -->

<!-- <div class="container rounded bg-blue mt-5 mb-5">
    <div style="max-width: 500px; margin-left: auto; margin-right: auto;" >
        
        <div class="border card" style="border-color: #e0e0e0  !important;">
            <div class="p-3">
                
            </div>
        </div>
    </div>
</div> -->

<!-- Test end -->



<ng-template #subjectTestsTemplate>
    <div class="row">
        <div *ngIf="subjectNameList.length > 0; else noSubjectTestsAvailable">
            <p style="padding-left: 1.2em;">Choose the Subject</p>
            <div class="row" style="margin-bottom: 1.3em; margin-left: 0.3em; margin-right: 0.3em;">
                <ng-container *ngFor="let subjectName of subjectNameList; let i = index">
                    <div (click)="onSelectingSubject(i)" class="col-md-3" style="word-break: break-word;">
                        <p style="padding: 20px;" class="questions-options-list-class" [ngClass]="selectedSubjectIndex === i? 'questions-options-list-class-selected':''">{{subjectName}}</p>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="row">
        <div>
            <p *ngIf="selectedSubjectIndex !== -1" style="padding-left: 1.2em;"> Choose the Topic</p>
            <div class="row" style="margin-bottom: 1.3em; margin-left: 0.3em; margin-right: 0.3em;">
                <ng-container *ngFor="let topicName of subjectToTopicList; let i = index">
                    <div (click)="onSelectingTopic(i)" class="col-md-3" style="word-break: break-word;">
                        <p style="padding: 20px;" class="questions-options-list-class" [ngClass]="selectedTopicIndex === i? 'questions-options-list-class-selected':''">{{topicName}}</p>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="row" style="padding-left: 1.2em;">
        <div *ngIf="listOfSubjectTests.length > 0">
            <p>Available Subject Tests</p>
        </div>
        <!-- Test -->
        <div class="row">
            <ng-container class ="col-sm-6"  *ngFor="let individualTest of listOfSubjectTests; let i = index" style="margin-bottom: 2rem;">
                <div class="col-md-6">
                    <div class="card mb-2 box-shadow">
                        <div class="card-body">
                            <div>
                                <h2 class="card-title" style="text-align: center; ">
                                    <b>{{individualTest.testName}}</b>
                                    <mat-icon *ngIf="individualTest.testType === 'Paid' ">
                                        {{ individualTest.isBought ? 'lock_open' : 'lock'}}
                                    </mat-icon>
                                </h2>
                                <h4 [hidden]="individualTest.testType==='Free' || individualTest.isBought" class="card-title" style="float: right;"><mat-icon>currency_rupee</mat-icon>{{individualTest.testPrice}}</h4>
                            </div>
                            <p class="card-text"><b>Test Taken By:</b> {{individualTest.testTakenBy}}</p>
                            <p class="card-text"><b>Test Type:</b> {{individualTest.testType}}</p>
                            <p class="card-text"><b>Test Category:</b> {{individualTest.testCategory}}</p>
                            <p class="card-text"><b>Total Time:</b> {{individualTest.totalTime}} mins</p>
                            <p class="card-text"><b>Total Number Of Questions:</b> {{individualTest.questions.length}}</p>
                            <mat-divider></mat-divider>
                            <p></p>
                            <p class="card-text">
                                This is the sample test taken by IOE. This is the sample test taken by IOE. This is the sample test taken by IOE
                            </p>
                            <button (click)="startTest(individualTest)" class="btn btn-outline-primary" *ngIf="individualTest.testType==='Free' || individualTest.isBought" style="margin-right: 2em;">Start Test</button>
                            <button (click)="buySubjectTest(individualTest.id)" class="btn btn-primary" *ngIf="!(individualTest.testType==='Free') && !individualTest.isBought">Buy Test</button>
                            
                        </div>
                    </div>
                </div> 
            </ng-container>
        </div>
        <!-- Test end -->
    </div>
</ng-template>

<ng-template #mockTestsTemplate>
<p style="margin-bottom: 0.8em;">Choose the Mock Test</p>

<!-- Test -->
<div class="row">
    <ng-container class ="col-sm-6"  *ngFor="let individualTest of listOfMockTests; let i = index" style="margin-bottom: 2rem;">
        <div class="col-md-4">
            <div class="card mb-2 box-shadow">
                <div class="card-body">
                    <div>
                        <h2 class="card-title" style="text-align: center; ">
                            <b>Test {{i+1}}</b>
                            <mat-icon *ngIf="individualTest.testType === 'Paid' ">
                                {{ individualTest.isBought ? 'lock_open' : 'lock'}}
                            </mat-icon>
                        </h2>
                        <h4 [hidden]="individualTest.testType==='Free' || individualTest.isBought" class="card-title" style="float: right;"><mat-icon>currency_rupee</mat-icon>{{individualTest.testPrice}}</h4>
                    </div>
                    <p class="card-text"><b>Test Name:</b> {{individualTest.testName}}</p>
                    <p class="card-text"><b>Test Taken By:</b> {{individualTest.testTakenBy}}</p>
                    <p class="card-text"><b>Test Type:</b> {{individualTest.testType}}</p>
                    <p class="card-text"><b>Test Category:</b> {{individualTest.testCategory}}</p>
                    <p class="card-text"><b>Total Time:</b> {{individualTest.totalTime}} mins</p>
                    <p class="card-text"><b>Total Number Of Questions:</b> {{individualTest.questions.length}}</p>
                    <mat-divider></mat-divider>
                    <p></p>
                    <p class="card-text">
                        This is the sample test taken by IOE. This is the sample test taken by IOE. This is the sample test taken by IOE
                    </p>
                    <button (click)="startTest(individualTest)" class="btn btn-outline-primary" *ngIf="individualTest.testType==='Free' || individualTest.isBought" style="margin-right: 2em;">Start Test</button>
                    <button (click)="buyMockTest(individualTest.id)" class="btn btn-primary" *ngIf="!(individualTest.testType==='Free') && !individualTest.isBought">Buy Test</button>
                    
                </div>
            </div>
        </div> 
    </ng-container>
</div>
<!-- Test end -->
</ng-template>

<ng-template #noSubjectTestsAvailable>
    <p style="padding-left: 1.2em;">No subject tests available at the moment.</p>
</ng-template>

<app-spinner [loading]="loading" [overlay]="true">
</app-spinner>