<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-card-title style="text-align: center; color: blue;">Welcome</mat-card-title>
        <mat-tab-group mat-stretch-tabs>
            <mat-tab label="Sign In">
                <mat-card-content>
                    <form (ngSubmit)="login()" name="loginForm" [formGroup]="loginForm" fxLayoutAlign ="stretch" fxLayout="column">
                        <mat-form-field>
                            <input formControlName="email" type="email" required matInput placeholder="Email">
                            <mat-error *ngIf="loginForm.dirty && loginForm.get('email')?.value.length==0">
                                Email is required
                            </mat-error>
                        </mat-form-field>
        
                        <mat-form-field>
                            <input formControlName="password" [type]="loginHide ? 'password' : 'text'" required matInput placeholder="Password">
                            <button *ngIf="loginForm.get('password')?.value.length > 0" mat-icon-button matSuffix type="button" (click)="loginHide = !loginHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="loginHide">
                                <mat-icon>{{loginHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="loginForm.dirty && loginForm.get('password')?.value.length==0">
                                Password is required
                            </mat-error>
                        </mat-form-field>
                        <div class="forgetPassword" (click)="forgetPassword()">Forgot Password?</div>
                        <div>
                            <button mat-raised-button type="button" (click) = "clearForm()" class="cancel-class">Cancel</button>
                            <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-tab>
            <mat-tab label="Sign Up">
                <mat-card-content>
                    <form (ngSubmit)="signUp()" name="signUpForm" [formGroup]="signUpForm" fxLayoutAlign ="stretch" fxLayout="column">
                        
                        <mat-form-field>
                            <input formControlName="firstName" type="text" required matInput placeholder="Firstname">
                            <mat-error *ngIf="signUpForm.dirty && signUpForm.get('firstName')?.value.length==0">
                                Firstname is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input formControlName="lastName" type="text" required matInput placeholder="Lastname">
                            <mat-error *ngIf="signUpForm.dirty && signUpForm.get('lastName')?.value.length==0">
                                Lastname is required
                            </mat-error>
                        </mat-form-field>
                        
                        <mat-form-field>
                            <input formControlName="email" type="email" required matInput placeholder="Email">
                            <mat-error *ngIf="signUpForm.dirty && signUpForm.get('email')?.value.length==0">
                                Email is required
                            </mat-error>
                        </mat-form-field>
        
                        <mat-form-field>
                            <input formControlName="password" [type]="signupHide ? 'password' : 'text'" required matInput placeholder="Password">
                            <button *ngIf="signUpForm.get('password')?.value.length > 0" mat-icon-button matSuffix type="button" (click)="signupHide = !signupHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="signupHide">
                                <mat-icon>{{signupHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="signUpForm.dirty && signUpForm.get('password')?.value.length==0">
                                Password is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input formControlName="teacherCode" type="text" matInput placeholder="Teacher's Code">
                        </mat-form-field>
                        <a class="forgetPassword" (click)="sendTeacherCode()">Send me code</a>
                        <div>
                            <button mat-raised-button type="button" (click) = "clearForm()" class="cancel-class">Cancel</button>
                            <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">Submit</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>