<div >
    <div class="login-container">
        <div class="bb-login">
            <form (ngSubmit)="changePassword()" name="changePasswordForm" [formGroup]="changePasswordForm" > <span class="bb-form-title p-b-26"> Change Password </span> <span class="bb-form-title p-b-48"> <i class="mdi mdi-symfony"></i> </span>
                <div>  
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" type="email" required matInput>
                        <mat-error *ngIf="changePasswordForm.dirty && changePasswordForm.get('email')?.value.length==0">
                            Email is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="login-container-form-btn">
                    <div class="bb-login-form-btn">
                        <div class="bb-form-bgbtn"></div> <button class="bb-form-btn" [disabled]="changePasswordForm.invalid"> Submit </button>
                    </div>
                    
                </div>
            </form>
            
        </div>
    </div>
</div>