<!-- <div fxLayoutAlign="center center" fxFlexFill> -->
    <div class="main-class">
    <div style="text-align: center;">
    <mat-card class="mat-card-class" >
        <mat-card-title style="text-align: center; color: blue; ">Sign up</mat-card-title>
                <mat-card-content >
                    <div *ngIf= '!isTeacher && !isStudent'>
                        <button style='margin-right:16px' mat-raised-button color="primary" type="button" (click) = "setObject(1)">Teacher</button>
                        <button style='margin-right:16px' mat-raised-button color="primary" type="button" (click) = "setObject(2)">Student</button>
                    </div>

                    <form *ngIf=isTeacher (ngSubmit)="signUp()" name="signUpForm" [formGroup]="signUpForm" fxLayoutAlign ="stretch" fxLayout="column">
                        
                        <mat-form-field>
                            <input formControlName="firstName" type="text" required matInput placeholder="Firstname">
                            <mat-error *ngIf="signUpForm.dirty && signUpForm.get('firstName')?.value.length==0">
                                Firstname is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input formControlName="lastName" type="text" required matInput placeholder="Lastname">
                            <mat-error *ngIf="signUpForm.dirty && signUpForm.get('lastName')?.value.length==0">
                                Lastname is required
                            </mat-error>
                        </mat-form-field>
                        
                        <mat-form-field>
                            <input formControlName="email" type="email" required matInput placeholder="Email">
                            <mat-error *ngIf="signUpForm.dirty && signUpForm.get('email')?.value.length==0">
                                Email is required
                            </mat-error>
                        </mat-form-field>
        
                        <mat-form-field>
                            <input formControlName="password" [type]="signupHide ? 'password' : 'text'" required matInput placeholder="Password">
                            <button *ngIf="signUpForm.get('password')?.value.length > 0" mat-icon-button matSuffix type="button" (click)="signupHide = !signupHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="signupHide">
                                <mat-icon>{{signupHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="signUpForm.dirty && signUpForm.get('password')?.value.length==0">
                                Password is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input formControlName="teacherCode" type="text" matInput placeholder="Teacher's Code">
                        </mat-form-field>
                        <a class="forgetPassword" (click)="sendTeacherCode()">Send me code</a>
                        <p>Not a teacher?<a class="forgetPassword" (click) = "isStudent=true; isTeacher=false"> Click here for student</a></p>
                        <div >
                            <button mat-raised-button type="button" (click) = "clearForm()" class="cancel-class">Cancel</button>
                            <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">Submit</button>
                        </div>
                    </form>
                </mat-card-content>

                <!-- sign up 2 -->

                <mat-card-content >

                    <form *ngIf=isStudent (ngSubmit)="signUp()" name="signUpForm" [formGroup]="signUpForm" fxLayoutAlign ="stretch" fxLayout="column">
                        
                        <mat-form-field>
                            <input formControlName="firstName" type="text" required matInput placeholder="Firstname">
                            <mat-error *ngIf="signUpForm.dirty && signUpForm.get('firstName')?.value.length==0">
                                Firstname is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input formControlName="lastName" type="text" required matInput placeholder="Lastname">
                            <mat-error *ngIf="signUpForm.dirty && signUpForm.get('lastName')?.value.length==0">
                                Lastname is required
                            </mat-error>
                        </mat-form-field>
                        
                        <mat-form-field>
                            <input formControlName="email" type="email" required matInput placeholder="Email">
                            <mat-error *ngIf="signUpForm.dirty && signUpForm.get('email')?.value.length==0">
                                Email is required
                            </mat-error>
                        </mat-form-field>
        
                        <mat-form-field>
                            <input formControlName="password" [type]="signupHide ? 'password' : 'text'" required matInput placeholder="Password">
                            <button *ngIf="signUpForm.get('password')?.value.length > 0" mat-icon-button matSuffix type="button" (click)="signupHide = !signupHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="signupHide">
                                <mat-icon>{{signupHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="signUpForm.dirty && signUpForm.get('password')?.value.length==0">
                                Password is required
                            </mat-error>
                        </mat-form-field>
                        <p>Not a student?<a class="forgetPassword" (click) = "isTeacher=true; isStudent=false"> Click here for teacher</a></p>
                        <div >
                            <button mat-raised-button type="button" (click) = "clearForm()" class="cancel-class">Cancel</button>
                            <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">Submit</button>
                        </div>
                    </form>
                </mat-card-content>
    </mat-card>

    <!-- Already have a account -->
    <mat-card class="mat-card-class">
        <mat-card-title style="text-align: center; color: blue;">Already have an account?</mat-card-title>
                <mat-card-content>
                    <p><a class="cursor-icon" (click) = "signIn()">Click here for sign in</a></p>
                </mat-card-content>
                <!-- sign up 2 -->

                  
    </mat-card>
    </div>
</div>
<!-- </div> -->




