<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-card-title style="text-align: center; color: blue;">Change Password
        </mat-card-title>
        <mat-card-content>
            <form (ngSubmit)="changePassword()" name="changePasswordForm" [formGroup]="changePasswordForm" fxLayoutAlign ="stretch" fxLayout="column">
                <mat-form-field>
                    <input formControlName="email" type="email" required matInput placeholder="Email">
                    <mat-error *ngIf="changePasswordForm.dirty && changePasswordForm.get('email')?.value.length==0">
                        Email is required
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">Submit</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>