  .content{
    /* height: calc(100vh - 98px); */
    height: 45em;
    margin: 2em;
    margin-left: 2em;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 2rem;
    color: lightgray;
    border-radius: 10px;
  }  
  
  /*
  css for mat table
  */
  
  .table-contents{
    width: 80%;
    margin-left: 10em;
    margin-top: 2em;
    margin-bottom: 20em;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .table-header-class{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }