
<!-- <mat-card> -->
    <!-- <div class="mat-elevation-z4"> -->
          <div [ngClass]="'mat-elevation-z8'" class="table-contents" id="content" #content>
            <mat-table [ngClass]="'styled-table'" matTableExporter [dataSource] = "dataSource"  #exporter="matTableExporter"> 
                <ng-container matColumnDef="no">
                    <mat-header-cell [ngClass]="'table-header-class'" *matHeaderCellDef> No </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;" (click)="viewIndividualTestReport(element)"> {{paginator.pageIndex * paginator.pageSize + i + 1}} </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="testId">
                    <mat-header-cell [ngClass]="'table-header-class'" *matHeaderCellDef> TestId </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="viewIndividualTestReport(element)"> {{element.testId}} </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="testTakenDate">
                    <mat-header-cell [ngClass]="'table-header-class'" *matHeaderCellDef> Test Taken Date </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="viewIndividualTestReport(element)"> {{element.testTakenDate.toDate() | date}} </mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="displayedColumnsForAllTests"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsForAllTests;"></mat-row>
    
                
            </mat-table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    
    <!-- </div> -->
<!-- </mat-card> -->