<div style="display: inline-flexbox; margin-left: 40em; margin-top: 10em;">
    <h1>Welcome to Practice Test {{testNumber}}</h1>   
    <h2>These are some instructions before you start the test.</h2>
    <div>
    <ol>
        <li>The test will be of 60 minutes.</li>
        <li>You can switch to any questions at anytime</li>
        <li>Your test will be automatically submitted after the timeout</li>
    </ol>
    </div>
    <button style="display: inline-flex;" class="btn btn-primary" (click)="startTest()">Continue</button>
    </div>
    