<app-homenavigationbar></app-homenavigationbar>
<div class="login-container row" style="background-color: white; margin-top: 7em;">
    <div class="col-sm-4 img-class">
        <img  src="../../assets/img/register_left_side.jpeg" style="height: 400px; margin-bottom: 2em;" alt="study">
    </div>
    <div class="bb-login col-sm-4">
        <div>
            <ng-container *ngTemplateOutlet="signUpHeaderTemplate">
            </ng-container>
            <p-tabView [(activeIndex)]="selectedIndex" (onChange)="tabChanged($event)">
                <p-tabPanel [selected]="true">
                    <ng-template pTemplate="header">
                        Student
                    </ng-template>
                    <ng-container *ngTemplateOutlet="studentSignupFormTemplate">

                    </ng-container>
                </p-tabPanel>
                <p-tabPanel >
                    <ng-template pTemplate="header">
                        <div>Teacher</div>
                    </ng-template>
                   <ng-container *ngTemplateOutlet="teacherSignupFormTemplate">

                   </ng-container>
                </p-tabPanel>
                
            </p-tabView>
        </div>

        <app-spinner [loading]="loading" [mode]="mode" [diameter]="50" [overlay]="true">
        </app-spinner>

        <div>
            <ng-container *ngTemplateOutlet="goToSignIn">
            </ng-container> 
        </div>
    </div>
    <div class="col-sm-4 img-class">
        <img src="../../assets/img/register_right_side.jpeg" style="height: 400px; margin-bottom: 2em;" alt="study">
    </div>
</div>

<ng-template #teacherSignupFormTemplate>
    <!-- Sign up for teacher -->
    <form (ngSubmit)="signUp()" name="signUpForm" [formGroup]="signUpForm" fxLayoutAlign ="stretch" fxLayout="column">

        <div class="row" style="margin-bottom: -17px;">
            <ng-container *ngFor="let field of nameFormFieldsName">
                <ng-container [ngTemplateOutlet]="nameFormFieldsTemplateList[field]" [ngTemplateOutletContext]= "{$implicit: signUpForm}">
                </ng-container>
            </ng-container> 
        </div> 
        
        <ng-container *ngFor="let field of commonFormFieldsName">
            <ng-container [ngTemplateOutlet]="commonFormFieldsTemplateList[field]" [ngTemplateOutletContext]= "{$implicit: signUpForm}">
            </ng-container>
        </ng-container>

        <div style="margin-bottom: -17px;">
            <ng-container *ngTemplateOutlet="teacherCodeTemplate; context:{$implicit: signUpForm}">
            </ng-container>
        </div>
        <a class="forgetPassword" style="color: #715bf9; font-family: 'Cambay';" (click)="sendTeacherCode()">Send me code</a>
        <p style="font-family: 'Cambay';">Not a teacher?<a class="forgetPassword" style="color: #715bf9;" (click)="changeAccountType(0)"> Click here for student</a></p>
        
        <ng-container *ngTemplateOutlet="submitCancel">
        </ng-container>
    </form>

</ng-template>

<ng-template #studentSignupFormTemplate>
    <!-- Sign up for student -->
    <form (ngSubmit)="signUp()" name="signUpForm" [formGroup]="signUpForm" fxLayoutAlign ="stretch" fxLayout="column">

        <div class="row" style="margin-bottom: -17px;">
            <ng-container *ngFor="let field of nameFormFieldsName">
                <ng-container [ngTemplateOutlet]="nameFormFieldsTemplateList[field]" [ngTemplateOutletContext]= "{$implicit: signUpForm}">
                </ng-container>
            </ng-container> 
        </div>

        <ng-container *ngFor="let field of commonFormFieldsName">
            <ng-container [ngTemplateOutlet]="commonFormFieldsTemplateList[field]" [ngTemplateOutletContext]= "{$implicit: signUpForm}">
            </ng-container>
        </ng-container>

        <p style="font-family: 'Cambay';">Not a student?<a class="forgetPassword" style="color: #715bf9;" (click)="changeAccountType(1)"> Click here for teacher</a></p>
        
        <ng-container *ngTemplateOutlet="submitCancel">
        </ng-container>
        
    </form>
</ng-template>


<ng-template #signUpHeaderTemplate>
    <span class="bb-form-title p-b-26" style="font-family: 'Cambay';"> Sign up </span>
</ng-template>

<ng-template #goToSignIn>
    <div class="text-center" routerLink="/authentication/signin" style="cursor: pointer"> 
        <span class="txt1" style="font-family: 'Cambay';"> Already have an account? </span> 
        <a class="txt2" style="font-family: 'Cambay';"> Sign in </a> 
    </div>  
</ng-template>

<ng-template  #firstNameTemplate let-signUpForm>
    <mat-form-field class="col-sm-6" style="width:100%" appearance="outline">
        <mat-label>Firstname</mat-label> 
        <input [formControl]="signUpForm.get('firstName')" type="text" required matInput>
        <mat-error *ngIf="signUpForm.dirty && signUpForm.get('firstName')?.value.length==0">
            Firstname is required
        </mat-error>
    </mat-form-field>
</ng-template>

<ng-template #lastNameTemplate let-signUpForm >
    <mat-form-field class="col-sm-6" appearance="outline">
        <mat-label>Lastname</mat-label>
        <input [formControl]="signUpForm.get('lastName')" type="text" required matInput>
        <mat-error *ngIf="signUpForm.dirty && signUpForm.get('lastName')?.value.length==0">
            Lastname is required
        </mat-error>
    </mat-form-field>
</ng-template>

<ng-template #phoneNumberTemplate let-signUpForm>
    <mat-form-field style=" width: 100%;margin-right: 0.5em; margin-bottom: -17px;" appearance="outline">
        <mat-label>PhoneNumber</mat-label>
        <input [formControl]="signUpForm.get('phoneNumber')" type="number" maxlength="10" pattern="[1-9]{1}[0-9]{9}" required matInput>
    </mat-form-field>
</ng-template>

<ng-template #emailTemplate let-signUpForm>
    <mat-form-field style="width: 100%; ; margin-bottom: -17px;" appearance="outline">
        <mat-label>Email</mat-label>
        <input [formControl]="signUpForm.get('email')" type="email" required matInput>
        <mat-error *ngIf="signUpForm.dirty && signUpForm.get('email')?.value.length==0">
            Email is required
        </mat-error>
    </mat-form-field>
</ng-template>

<ng-template #passwordTemplate let-signUpForm>
    <mat-form-field style="width: 100%; ; margin-bottom: -17px;" appearance="outline">
        <mat-label>Password</mat-label>
        <input [formControl]="signUpForm.get('password')" [type]="signupHide ? 'password' : 'text'" required matInput>
        <button *ngIf="signUpForm.get('password')?.value.length > 0" mat-icon-button matSuffix type="button" (click)="signupHide = !signupHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="signupHide">
            <mat-icon>{{signupHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="signUpForm.dirty && signUpForm.get('password')?.value.length==0">
            Password is required
        </mat-error>
    </mat-form-field>
</ng-template>

<ng-template #teacherCodeTemplate let-signUpForm>
    <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Teacher's Code</mat-label>
        <input [formControl]="signUpForm.get('teacherCode')" type="text" matInput [required]="selectedIndex === 1">
    </mat-form-field>
</ng-template>

<ng-template #submitCancel>
    <div style="text-align: center;" >
        <button mat-raised-button type="button" (click) = "clearForm()" class="cancel-class">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">Submit</button>
    </div>
</ng-template>
    
    
    
    
    