.cancel-class {
    color:darkgray;
    margin-right: 2em;
}

.cancel-class:hover{
    background-image:none;
background-color:darkslateblue;
}

.forgetPassword{
    color: #1414e9;
    margin-bottom: 1em;
    cursor: pointer;
}

.bb-login {
    // margin-top: 100px;
    margin-bottom: 10px
}

.bb-login {
    width: auto;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 26px 23px 14px 21px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1)
}

.bb-login-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto
}

.bb-login-form-btn:hover .bb-form-bgbtn {
    left: 0
}

.bb-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #21d4fd, #FF9800, #FFC107, #F44336);
    background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s
}

@media (max-width: 576px) {
    .bb-login {
        padding: 77px 15px 33px 15px;
        margin-left: 25px !important;
    }

    .img-class{
        display: none;
    }
}

.login-container {
    width: 100%;
    // min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    // padding: 15px;
    background: #f2f2f2
}

.login-container-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px
}

.bb-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center
}

.txt1 {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #666666;
    line-height: 1.5
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #333333;
    line-height: 1.5
}

.p-t-115 {
    padding-top: 40px
}