
<div class="row" style="margin-top: 15px; margin-left: 2px; margin-right: 2px;">
    <div style="text-align: center;">
        <h1 style="font-family: 'Cambay';">List of students who have bought tests from you</h1>
    </div>
    <ng-template [ngIf]="myStudents.length != 0">
        <ng-container class ="col-sm-6"  *ngFor="let myStudent of myStudents; let i = index" style="margin-bottom: 2rem;">
            <div class ="col-sm-6" style="margin-bottom: 2rem;">
                <div class="card" [ngClass]="'mat-elevation-z2'" style="overflow-y: auto; border-radius: 1.2em; min-height: 20.4em;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <div>
                                    <h3 class="card-title" style="text-align: center; display: inline; ">
                                        <b>Student {{i+1}}</b>
                                    </h3>
                                </div>
                                <div style="float: left;">
                                    <p class="card-text"><b>Student Name:</b> {{myStudent.firstName}} {{myStudent.lastName}}</p>
                                    <p class="card-text"><b>Email:</b> {{myStudent.email}}</p>
                                    <p class="card-text"><b>Phone Number:</b> {{myStudent.phoneNumber === 0 ? 'Not available' : myStudent.phoneNumber }}</p>
                                    <p class="card-text"><b>Date of birth:</b> {{myStudent.dob === undefined ? 'Not available' : myStudent.dob }}</p>
                                    <p class="card-text"><b>Address:</b> {{myStudent.address === '' ? 'Not available' : myStudent.address}}</p>
                                </div>
                            </div>
                            <div class="col-sm-3">                        
                                <div style="float: right;">
                                    <img class="rounded-circle" src="{{myStudent.imageUrl}}" style=" height: 5em; width: 5em">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: block;  margin-left: auto;">
                        <button [routerLink]="['/teacherdashboard/myTestsBoughtByAStudent']" [queryParams]="{ myStudentId: myStudent.id, teacherUserId: userId }" 
                                style=" margin-left: auto; margin-right: 0.8em; text-align: center; width: fit-content; margin-bottom: 0.8em;" 
                                mat-raised-button color="primary">
                            View My Bought Tests
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-template>
    <ng-template [ngIf]="myStudents.length === 0">
        
        <div style="display: flex; justify-content: center;">
            <div style="display: grid; font-family: 'Cambay'; padding-top: 2em;">
                <img  src="../../assets/img/register_left_side.jpeg" style="height: 400px; margin-bottom: 2em; padding-top: 2em;" alt="study">
                <span style="text-align: center;">No one has bought your test yet!</span>
            </div>
        </div>
    </ng-template>
</div>
<app-spinner [loading]="loading"></app-spinner>