.options-item:hover{
    border: 1px solid blue;
}

.options-item:active{
    background-color: green;
}

.question-number-btn-class{
    color:black;
    border-radius: .4em; 
    border-color: black; 
    margin-left: 1em; 
    margin-top: 0.5em; 
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.question-number-btn-class:hover{
    background-color: blue;
}


.question-number-btn-class-focus{
    background-color: gray;
}

.question-number-answered{
    background-color: green;
}

.option-selected{
    background-color: green;
}

.option-not-selected{

}


.float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  

.clear{
    clear: both;
}

.table-contents{
    width: 80%;
    margin-left: 10em;
    margin-top: 2em;
    margin-bottom: 20em;
}

.quest-width{
    max-width: 75px;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.table-header-class{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-paginator {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

@media print {
    html, body { height: max-content; overflow-y: visible !important; }
  }


/* Responsive table */

.mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mobile-label {
    display: none;
  }
  
  @media(max-width: 600px) {
    .mobile-label {
      width: 80px;
      display: inline-block;
          font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }
  }

  .example-container {
    /* display: flex; */
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }