<nav class="navbar navbar-expand-lg navbar-light navbar-float " style="position: fixed;">
    <div class="container">
      <a routerLink="/home" class="navbar-brand text-primary">Domain<span class="navbar-brand">.com</span></a>

      <button class="navbar-toggler" (click)="toggleNavBar()" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarContent" [ngClass]="{'show': navOpen}">
        <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
          <li class="nav-item">
            <a routerLink="/home/homepagecontent" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
              true}" class="nav-link">Home</a>
          </li>
          <li class="nav-item cursor-icon" >
            <a routerLink="/authentication/signin" routerLinkActive="active-link" class="nav-link">Login</a>
          </li>
          <li class="nav-item cursor-icon">
            <a routerLink="/authentication/chooseSignUpOption" routerLinkActive="active-link" class="nav-link">Sign up</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
              true}"  class="nav-link">Contact</a>
          </li>
          <!-- <li class="nav-item">
              <a href="/home/about" routerLinkActive="active-link" class="nav-link">About</a>
          </li> -->
        </ul>
        
      </div>
    </div>
  </nav>

