<nav class="navbar navbar-expand-lg navbar-light navbar-float fixed-top">
    <div class="container">
      <a routerLink="/home" class="navbar-brand text-primary">Entrance<span class="navbar-brand">.com</span></a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarContent">
        <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
          <li class="nav-item active">
            <a routerLink="/home" class="nav-link">Home</a>
          </li>
          <li class="nav-item cursor-icon" >
            <a routerLink="/authentication/signin" class="nav-link">Login</a>
          </li>
          <li class="nav-item cursor-icon">
            <a routerLink="/authentication/chooseSignUpOption" class="nav-link">Sign up</a>
          </li>
          <li class="nav-item">
            <a href="/home/contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
              <a href="/home" class="nav-link">About</a>
            </li>
        </ul>
        
      </div>
    </div>
  </nav>

