<div class="container rounded bg-blue mt-5 mb-5 ">
    <div style="max-width: 500px; margin-left: auto; margin-right: auto;">
        
        <div class="border card" style="border-color: #e0e0e0 !important;">
            <div class="p-3">
                <div class="mb-3" style="text-align: center;">
                    <h4 style="display: inline; text-align: center;"><b>Edit Profile</b></h4>
                </div>
                <div style="margin-bottom: 2em;" class="d-flex flex-column align-items-center text-center">
                    <div class="profile-pic">
                        <label class="-label" for="file">
                            <!-- <span class="glyphicon glyphicon-camera"></span> -->
                            <span>Change Image</span>
                        </label>
                        <input id="file" type="file" (change)="loadProfileImage($event)" accept=".png, .jpg, .jpeg"/>
                        <img class="rounded-circle" src="{{imageUrl}}" width="100">
                    </div>
                    <span class="font-weight-bold">{{firstName}} {{lastName}}</span>
                    <span class="text-black-50">{{email}}</span>
                    <span>{{country}}</span>
                </div>

                <form (ngSubmit)="saveProfile()" name="profileForm" [formGroup]="profileForm" fxLayoutAlign ="stretch" fxLayout="column">
                    
                    <div style="width: 100%; display: flex;">
                        <mat-form-field style="width: 50%; margin-right: 0.5em" appearance="outline" >
                            <mat-label>First Name</mat-label>
                            <input formControlName="firstName" type="text" required matInput >
                            <mat-error *ngIf="profileForm.dirty && profileForm.get('firstName')?.value.length==0">
                                First name is required
                            </mat-error>
                        </mat-form-field>
        
                        <mat-form-field style="width: 50%;" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input formControlName="lastName" type="text" required matInput>
                            <mat-error *ngIf="profileForm.dirty && profileForm.get('lastName')?.value.length==0">
                                Last Name is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" type="email" required matInput readonly>
                            <mat-error *ngIf="profileForm.dirty && profileForm.get('email')?.value.length==0">
                                Email is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div style="width: 100%; display: flex;">
                        <mat-form-field style="width: 50%; margin-right: 0.5em" appearance="outline">
                            <mat-label>PhoneNumber</mat-label>
                            <input formControlName="phoneNumber" type="number" matInput>
                        </mat-form-field>

                        <mat-form-field style="width: 50%;" appearance="outline" class="example-form-field">
                            <mat-label>Date of birth</mat-label>
                            <input formControlName="dob"  matInput [matDatepicker]="datepicker" [max]="today">
                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker>
                              <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                              </mat-datepicker-actions>
                            </mat-datepicker>
                          </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Address</mat-label>
                            <input formControlName="address" type="text" matInput>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Education</mat-label>
                            <input formControlName="education" type="text" matInput>
                        </mat-form-field>
                    </div>

                    <div style="width: 100%; display: flex;">
                        <mat-form-field style="width: 50%; margin-right: 0.5em" appearance="outline">
                            <mat-label>Country</mat-label>
                            <!-- <input formControlName="country" type="text" matInput> -->
                            <mat-select (selectionChange)="countryChanged($event.value)" formControlName="country">
                                <mat-option *ngFor="let country of countries; let i = index" [value]="country">
                                  {{country}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
            
                        <mat-form-field style="width: 50%;" appearance="outline">
                            <mat-label>State</mat-label>
                            <!-- <input formControlName="state" type="text" matInput> -->
                            <mat-select formControlName="state">
                                <!-- <input class="p-2" [(ngModel)]="stateFilter" 
                                        type="text" (keyup)="filterState($event)" matInput>
                                <mat-divider></mat-divider> -->
                                <mat-option *ngFor="let state of states; let i = index" [value]="state">
                                  {{state}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        
                        <!-- <mat-form-field style="width: 50%;" appearance="outline"> -->
                        <!-- <p-dropdown [options]="states" [filter]="true" ></p-dropdown> -->
                        <!-- </mat-form-field> -->

                    </div>


                    <div>
                        <button class="btn btn-danger" style="margin-right: 2em;" type="button" (click) = "clearForm()">Cancel</button>
                        <button class="btn btn-success" color="primary" [disabled]="profileForm.invalid">Save</button>
                    </div>

                    <app-spinner [loading]="loading" [mode]="mode" [diameter]="50" [overlay]="true">
                    </app-spinner>
                </form>
            </div>
        </div>
    </div>
</div>