body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}


/* Profile pic css */

@mixin object-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  $circleSize: 165px;
  $radius: 100px;
  $shadow: 0 0 10px 0 rgba(255,255,255,.35);
  $fontColor: rgb(250,250,250);
  
  .profile-pic {
    color: transparent;
    transition: all .3s ease;
    @include object-center;
    position: relative;
    transition: all .3s ease;
    
    input {
      display: none;
    }
    
    img {
      position: absolute;
      object-fit: cover;
      width: $circleSize;
      height: $circleSize;
      box-shadow: $shadow;
      border-radius: $radius;
      z-index: 0;
    }
    
    .-label {
      cursor: pointer;
      height: $circleSize;
      width: $circleSize;
    }
    
    &:hover {
      .-label {
        @include object-center;
        background-color: rgba(0,0,0,.8);
        z-index: 10000;
        color: $fontColor;
        transition: background-color .2s ease-in-out;
        border-radius: $radius;
        margin-bottom: 0;
      }
    }
    
    span {
      display: inline-flex;
      padding: .2em;
      height: 2em;
    }
  }
  
  body {
    height: 100vh;
    background-color: rgb(25, 24, 21);
    @include object-center;
    
    a:hover {
      text-decoration: none;
    }
  }