<div class="container rounded bg-blue mt-5 mb-5">
    <div class="row" >
        
        <div class="col-md-5 border" style="margin-left: 20em; border-color: #7c766f !important;">
            <div class="p-3">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="align-items-center"><b>Edit Profile</b></h4>
                </div>
                <div style="margin-bottom: 2em;" class="d-flex flex-column align-items-center text-center">
                    <div class="profile-pic">
                        <label class="-label" for="file">
                            <!-- <span class="glyphicon glyphicon-camera"></span> -->
                            <span>Change Image</span>
                        </label>
                        <input id="file" type="file" (change)="loadProfileImage($event)" accept=".png, .jpg, .jpeg"/>
                        <img class="rounded-circle" src="{{imageUrl}}" width="100">
                    </div>
                    <span class="font-weight-bold">{{firstName}} {{lastName}}</span>
                    <span class="text-black-50">{{email}}</span>
                    <span>{{country}}</span>
                </div>

                <form (ngSubmit)="saveProfile()" name="profileForm" [formGroup]="profileForm" fxLayoutAlign ="stretch" fxLayout="column">
                    
                    <div >
                        <mat-form-field style="margin-right: 0.5em" appearance="outline" >
                            <mat-label>First Name</mat-label>
                            <input formControlName="firstName" type="text" required matInput >
                            <mat-error *ngIf="profileForm.dirty && profileForm.get('firstName')?.value.length==0">
                                First name is required
                            </mat-error>
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input formControlName="lastName" type="text" required matInput>
                            <mat-error *ngIf="profileForm.dirty && profileForm.get('lastName')?.value.length==0">
                                Last Name is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" type="email" required matInput readonly>
                            <mat-error *ngIf="profileForm.dirty && profileForm.get('email')?.value.length==0">
                                Email is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field style="margin-right: 0.5em" appearance="outline">
                            <mat-label>PhoneNumber</mat-label>
                            <input formControlName="phoneNumber" type="number" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-form-field">
                            <mat-label>Date of birth</mat-label>
                            <input formControlName="dob"  matInput [matDatepicker]="datepicker" [max]="today">
                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker>
                              <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                              </mat-datepicker-actions>
                            </mat-datepicker>
                          </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Address</mat-label>
                            <input formControlName="address" type="text" matInput>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Education</mat-label>
                            <input formControlName="education" type="text" matInput>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field style="margin-right: 0.5em" appearance="outline">
                            <mat-label>Country</mat-label>
                            <input formControlName="country" type="text" matInput>
                            <!-- <mat-select formControlName="country">
                                <mat-option>None</mat-option>
                            </mat-select> -->
                        </mat-form-field>
            
                        <mat-form-field appearance="outline">
                            <mat-label>State</mat-label>
                            <input formControlName="state" type="text" matInput>
                        </mat-form-field>
                    </div>


                    <div>
                        <button style="margin-right: em; margin-top: 1em;" mat-raised-button type="button" (click) = "clearForm()" class="cancel-class">Cancel</button>
                        <button style="margin-left: 5em ; margin-right: 1em; margin-top: 1em;" mat-raised-button color="primary" [disabled]="profileForm.invalid">Save</button>
                    </div>

                    <app-spinner [loading]="loading" [mode]="mode" [diameter]="50" [overlay]="true">
                    </app-spinner>
                </form>

                <!-- <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">PhoneNumber</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                    <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="enter address" value=""></div>
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value=""></div>
                    <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div> -->
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div> -->
    </div>
</div>