<div class="page-banner home-banner">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-lg-6 py-3 wow fadeInUp">
          <h1 class="mb-4">Helping Aspirants &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Accelerate Their Performance</h1>
          <i><p class="text-lg mb-5">Platform for students to practice standardized tests and questions of competitive exams. Also allowing institute and teachers to create their own practice tests.</p></i>

         
          <a (click)="signUpPage()" class="text-primary btn btn-outline border text-secondary text-size btn-split">Student</a>
          
          <a (click)="signUpPage()" class="text-size btn btn-outline border btn-split ml-2">Teacher</a>
        </div>
        <div class="col-lg-6 py-3 wow zoomIn">
          <div class="img-place">
            <img src="../../assets/img/first_image.jpeg" alt="study">
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </header> -->

<main>
  <div class="page-section features">
    <div class="container">
      <div class="row justify-content-left">
        <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
          <div class="d-flex flex-row">
            <div class="img-fluid mr-3">
              <img src="../../assets/img/icon_pattern.svg" alt="">
            </div>
            <div>
              <h5>Personalized Chapterwise Test</h5>
              <p>Exam type questions from selected chapters.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
          <div class="d-flex flex-row">
            <div class="img-fluid mr-3">
              <img src="../../assets/img/icon_pattern.svg" alt="">
            </div>
            <div>
              <h5>Competitive Exam Mock Tests</h5>
              <p>Simulated mock tests to prepare for your final exam</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
          <div class="d-flex flex-row">
            <div class="img-fluid mr-3">
              <img src="../../assets/img/icon_pattern.svg" alt="">
            </div>
            <div>
              <h5>Conduct Your Own Test</h5>
              <p>Teacher/Institute can conduct their own tests.</p>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-3 wow zoomIn">
          <div class="img-place text-center">
            <img src="../../assets/img/bg_image_1.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-6 py-3 wow fadeInRight">
          <h2 class="title-section">We're <span class="marked">Dynamic</span> Team of Past Competitors</h2>
          <div class="divider"></div>
          <p>We provide an online platform for students to prepare for their competitive exams in exam simulated environment.</p>
          <div class="img-place mb-3">
            <img src="../../assets/img/testi_image.png" alt="">
          </div>
          <a href="#" class="btn btn-primary">More Details</a>
          <a href="#" class="btn btn-outline border ml-2">Success Stories</a>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <div class="page-section counter-section">
    <div class="container">
      <div class="row align-items-center text-center">
        <div class="col-lg-4">
          <p>Total Students</p>
          <h2><span class="number" data-number="816278">100</span></h2>
        </div>
        <div class="col-lg-4">
          <p>Total Teachers</p>
          <h2><span class="number" data-number="216422">100</span></h2>
        </div>
        <div class="col-lg-4">
          <p>Total Institutes</p>
          <h2><span class="number" data-number="73">100</span></h2>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-3 wow fadeInLeft">
          <h2 class="title-section">Start Your Exam <span class="marked">Preparation</span> Today</h2>
          <div class="divider"></div>
          <p class="mb-5">Evaluate your exam preparation by taking a free mock test and get your detailed performance summary</p>
          <a routerLink="/authentication/signin" class="btn btn-primary">Give Mock Test</a>
        </div>
        <div class="col-lg-6 py-3 wow zoomIn">
          <div class="img-place text-center">
            <img src="../../assets/img/bg_image_3.png" alt="">
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <div class="page-section">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="subhead">Why Choose Us</div>
        <h2 class="title-section">Your <span class="marked">Success</span> is Our Priority</h2>
        <div class="divider mx-auto"></div>
      </div>

      <div class="row mt-5 text-center">
        <div class="col-lg-4 py-3 wow fadeInUp">
          <div class="display-3"><span class="mai-shapes"></span></div>
          <h5>Experienced Team</h5>
          <p>We have experience of major competitive exams.</p>
        </div>
        <div class="col-lg-4 py-3 wow fadeInUp">
          <div class="display-3"><span class="mai-shapes"></span></div>
          <h5>Abundant Practice Questions</h5>
          <p>We have huge amount of questions to improve your performance.</p>
        </div>
        <div class="col-lg-4 py-3 wow fadeInUp">
          <div class="display-3"><span class="mai-shapes"></span></div>
          <h5>Free Performance Evaluation</h5>
          <p>Get performance evaluation based on each question category.</p>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <!-- <div class="page-section client-section">
    <div class="container-fluid">
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center">
        <div class="item wow zoomIn">
          <img src="../assets/img/clients/airbnb.png" alt="">
        </div>
        <div class="item wow zoomIn">
          <img src="../assets/img/clients/google.png" alt="">
        </div>
        <div class="item wow zoomIn">
          <img src="../assets/img/clients/stripe.png" alt="">
        </div>
        <div class="item wow zoomIn">
          <img src="../assets/img/clients/paypal.png" alt="">
        </div>
        <div class="item wow zoomIn">
          <img src="../assets/img/clients/mailchimp.png" alt="">
        </div>
      </div>
    </div> 
  </div>  -->
</main>

<footer class="page-footer">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-3 py-3">
        <a routerLink="/home" class="navbar-brand text-primary">Entrance<span class="navbar-brand">.com</span></a>
        

        <p><a href="#" >example@gmail.com</a></p>
        <p><a href="#">+9771234567891</a></p>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Quick Links</h5>
        <ul class="footer-menu">
          <li><a href="#">How it works</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Report a Bug</a></li>
        </ul>
      </div>
      <div class="col-lg-3 py-3">
        <h5>About Us</h5>
        <ul class="footer-menu">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Our Teams</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">News & Press</a></li>
        </ul>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Subscribe</h5>
        <form action="#">
          <input type="text" class="form-control" placeholder="Enter your mail..">
        </form>

        <div class="sosmed-button mt-4">
          <a href="#"><span class="mai-logo-facebook-f"></span></a>
          <a href="#"><span class="mai-logo-twitter"></span></a>
          <a href="#"><span class="mai-logo-google"></span></a>
          <a href="#"><span class="mai-logo-linkedin"></span></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 py-2">
        <p id="copyright">&copy; 2020 <a href="#">Entrance.com</a>. All rights reserved</p>
      </div>
      <div class="col-sm-6 py-2 text-right">
        <div class="d-inline-block px-3">
          <a href="#">Privacy</a>
        </div>
        <div class="d-inline-block px-3">
          <a href="#">Contact Us</a>
        </div>
      </div>
    </div>
  </div> <!-- .container -->
</footer> <!-- .page-footer -->
